@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* ea footer on home page
.ea-site.home-page
	.spacer
		display: block

	.footer
		display: block

/* ea footer on home page end

/*ea scroll sections
$ea-main-section-max-width: 960px !default
$ea-main-section-max-width-lg: 960px !default

.ea-main-section
	position: relative

.ea-main-section__container
	position: relative

//.ea-main-section__align // see layout.sass

.ea-main-section__layout
	position: relative
	max-width: $flood-layout-width--ea
	+push-auto
	text-align: left

	+media('<desk-hd')
		max-width: none

.ea-main-max-width
	max-width: $flood-layout-width--ea

	+media('<desk-hd')
		max-width: none

.ea-main-section__title
	display: flex
	justify-content: space-between
	+font-bold
	+font(36px, round-float(58/48, 1))
	margin-bottom: 3rem
	color: $text-color
	text-align: center

	+media('<desk-lg')
		font-size: 32px
		margin-bottom: $bottom-space

	+media('<tab-lg')
		display: block
		text-align: center
		margin-bottom: 0.6em

	+media('<tab-sm')
		font-size: 30px

	h2, h3
		margin: 0
		font-family: inherit
		+font(inherit, inherit)
		font-weight: inherit
		color: inherit
		flex: 1 1 12rem

		+media('<tab-lg')
			margin-bottom: 0.2em

			&:last-child
				margin-bottom: 0

	.subtitle
		+font-normal
		+font(24px, round-float(30/24, 1))
		flex: 1 1 12em
		padding: 0.5em

		+media('<desk-hd')
			font-size: 20px

		+media('<desk-sb')
			font-size: 16px
			padding: 0

		+media('<tab-lg')
			font-size: 18px

.ea-main-section__holder
	+clear
	margin-bottom: $bottom-space--md

	&:last-child
		margin-bottom: 0

/* ea scroll sections end

/* ea main section footer
.ea-main-section__footer
	text-align: center

	.btn-outline
		display: block
		border: 1px solid $border-color

		.no-touchevents &:hover
			border-color: $base-color--ea

/* ea main section footer end

/* ea main sections with background image
//.ea-main-section--entry, .ea-main-section--news
.ea-main-section--news
	.ea-main-section__container
		background: #f3f3f3 no-repeat center
		background-size: cover

		&::before
			+pseudo()
			+position(0, 0)
			+size(100%)
			background-color: rgba(0, 0, 0, 0.3)

	.ea-main-section__title
		color: white
		text-align: left

/*ea main sections with background image end

/*ea main section entry
//.ea-main-section--entry
	color: white
	min-height: 100vh

	.ea-main-section__container

		+media('>=tab-lg')
			display: table
			width: 100%
			height: 100%
			min-height: 100vh

		+media('<tab-lg')
			&::before
				+linear-gradient(to top, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0.6) 25%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.3) 100%)

	.ea-main-section__align
		+padding-vertical(120px)

		+media('>=tab-lg')
			display: table-cell
			vertical-align: middle
			text-align: center

	.ea-main-section__layout
		.main-section__align &
			display: inline-block
			width: 100%

	.ea-main-section__title
		position: relative
		padding-bottom: 0.8em
		margin-bottom: 100px
		+font-bold
		+font(60px, round-float(72/60, 2))
		text-align: left
		color: white

		+media('<desk-lg')
			font-size: 48px

		+media('<tab-lg')
			text-align: center
			margin-bottom: 0
			padding-bottom: 0

		+media('<desk-sm')
			font-size: 36px

		+media('<mob-lg')
			font-size: 28px

		&:last-child
			margin-bottom: 0

		&::before
			+pseudo()
			left: 0
			bottom: 0
			+size(85px, 3px)
			background-color: white

			+media('<tab-lg')
				content: none

		h1, h2, h3
			width: 800px
			max-width: 100%

			+media('<desk-sb')
				width: auto
				max-width: none

/*ea main section entry end

/* ea-main-section--main-slider
.ea-main-section--main-slider
	overflow: hidden // обрезать боковые маски слайдера

	.ea-main-section__align

		+media('<mob-lg')
			+padding-horizontal(0)
			padding-top: 0 !important

	//&:first-child .ea-main-section__align
		padding-top: 20px

	.ea-main-section__layout
		max-width: 1480px

/* ea-main-section--main-slider end

/*ea main section news
.ea-main-section--news
	.ea-main-section__footer
		[class*="btn-"]
			color: white
			fill: white

			& > i
				&::before, &::after
					background-color: white


/*ea main section news end

/*total date
$odds-space: 20px
$odds-space--md: 15px
$odds-icon-size: 60px !default
$odds-icon-size--md: 40px !default

//.odds
	+media('>=tab-lg')
		position: absolute
		left: 0
		bottom: 0
		width: 100%
		z-index: 50

		&:last-child
			margin-bottom: 0

	+media('<tab-lg')
		background-color: black

	+media('<tab-sm')
		display: none

//.odds__list
	+grid-parent($odds-space)
	+clear-spacing

//.odds__item
	+grid-item(3, $odds-space)
	letter-spacing: normal

//.odds__inner
	padding: $odds-space
	background-color: rgba(0, 0, 0, 0.50)
	color: white
	fill: $base-color--ea
	height: 100%

	+media('<desk-sb')
		padding: $odds-space--md

	&::before
		+pseudo-inline-block-relative()
		vertical-align: middle
		height: 100%

//.odds__item

	svg
		+display-inline-block-middle
		+size($odds-icon-size)
		margin-right: $odds-space

		+media('<desk-sb')
			+size($odds-icon-size--md)
			margin-right: $odds-space--md

	path
		fill: inherit

//.odds__title
	+font-alt-bold
	+font(14px, round-float(20/14, 2))
	letter-spacing: 0.05em
	text-transform: uppercase

	+media('<desk-sb')
		font-size: 13px

	svg + &
		+display-inline-block-middle
		width: calc(100% - #{$odds-icon-size} - #{$text-layout-space-horizontal--md} - 6px)

		+media('<desk-sb')
			width: calc(100% - #{$odds-icon-size--md} - #{$text-layout-space-horizontal--md} - 6px)

/*total date end

/* ea-promo
/* ea-promo slider: banners
//.ea-promo-banners
	// before slide load
	white-space: nowrap
	overflow: hidden
	opacity: 0
	visibility: hidden
	// before slide load end

	&.slick-initialized, .no-js &
		// after slide load
		white-space: normal
		overflow: visible
		opacity: 1
		visibility: visible
		// after slide load end

//.ea-promo-banners__item
	// before slide load
	float: none
	display: inline-block
	vertical-align: top
	// before slide load end

	text-decoration: none
	position: relative
	border: 10px solid $base-color-alt--ea

	+media('<mob-lg')
		border-width: 4px

	.slick-initialized &
		// after slide load
		float: left
		display: block
		// after slide load end

	&::before
		content: ""
		display: block
		position: relative
		+ratio(1200, 438)

	img
		display: block
		position: absolute
		+position(0)
		width: 100%
		height: 100%
		max-width: none
		+object-fit(cover)

/* ea-promo slider: banners end

/* ea-promo slider: thumbs
//.ea-promo-thumbs
	// before slide load
	white-space: nowrap
	overflow: hidden
	opacity: 0
	visibility: hidden
	+margin-horizontal(-5px)
	// before slide load end

	&.slick-initialized, .no-js &
		// after slide load
		white-space: normal
		overflow: visible
		opacity: 1
		visibility: visible
		+margin-horizontal(0)
		// after slide load end

		.slick-list
			+margin-horizontal(-5px)

//.ea-promo-thumbs__item
	// before slide load
	float: none
	display: inline-block
	vertical-align: top
	// before slide load end

	position: relative
	+font-light
	+font(16px, 24px)
	text-decoration: none
	color: $text-color
	cursor: pointer

	.slick-initialized &
		// after slide load
		float: left
		display: block
		// after slide load end

	& > span
		display: block
		padding: 13px 12px
		margin: 10px 5px 0
		background-color: #ddd
		+truncate(100%)

		+media('<tab-sm')
			letter-spacing: -4px
			font-size: 0
			line-height: 0

		&::before
			content: attr(data-index)
			display: none
			letter-spacing: normal
			font-size: 16px
			line-height: 24px

			+media('<tab-sm')
				display: inline

	// current
	&.slick-current
		color: white

		& > span
			padding-top: 23px
			margin-top: 0
			background-color: $base-color-alt--ea

/* ea-promo slider: thumbs end
/* ea-promo end

/* ea-main-slider
.ea-main-slider
	// before slide load
	white-space: nowrap
	overflow: hidden
	opacity: 0
	visibility: hidden
	max-width: 1200px
	// before slide load end

	+media('<desk-hd')
		max-width: none

	&, &.slick-dotted
		margin: 0 auto

	&.slick-initialized, .no-js &
		// after slide load
		white-space: normal
		overflow: visible
		opacity: 1
		visibility: visible
		// after slide load end

	&::before,
	&::after
		content: ""
		display: block
		position: absolute
		top: 0
		height: 100%
		width: 1000px
		background-color: #fff
		opacity: 0.5
		z-index: 1
		pointer-events: none

	&::before
		left: 100%

	&::after
		right: 100%

	.slick-list
		overflow: visible

	.slick-dots
		bottom: 16px

		li

			&, .#{$user-content} &
				padding: 4px 15px

			button
				width: 10px
				height: 10px
				border-radius: 0

				&, .ea-site &
					background-color: #666

				&::before
					$space: 1px
					// =========
					left: $space
					top: $space
					height: calc(100% - #{$space*2})
					width: calc(100% - #{$space*2})
					border-radius: 0
					box-shadow: none
					background-color: #fff

				// hover
				//.no-touchevents &:hover
					$space: 2px
					// ==========
					&::before
						left: $space
						top: $space
						height: calc(100% - #{$space*2})
						width: calc(100% - #{$space*2})

	.slick-arrow
		+size(50px)
		background-color: #fff

.ea-main-slider__item
	// before slide load
	float: none
	display: inline-block
	vertical-align: top
	// before slide load end
	color: white
	text-decoration: none
	position: relative
	transition:
		property: opacity
		duration: $animation-speed

	.slick-initialized &, .no-js &
		// after slide load
		float: left
		display: block
		// after slide load end

	&::before
		content: ""
		display: block
		position: relative
		+ratio(1200, 472)

.ea-main-slider__inner
	display: flex
	position: absolute
	left: 0
	top: 0
	+size(100%)

	img
		display: block
		width: 100%
		height: 100%
		max-width: none
		+object-fit(cover)

.ea-main-slider__info,
.ea-main-slider__img
	height: 100%
	flex: 1 1 50%

.ea-main-slider__info
	background-color: $base-color-alt--ea
	padding: 3.5% 60px 6.5%

	&.align-right
		text-align: left
		order: 1

	.btn-default
		text-transform: uppercase
		min-width: 224px

.ea-main-slider__info__layout
	display: flex
	flex-direction: column
	justify-content: space-between
	align-items: flex-start
	margin: 0 auto
	height: 100%
	max-width: 430px

.ea-main-slider__title
	+font-black
	+font(54px, 1)
	text-transform: uppercase
	margin-bottom: 0.3em

	+media('<desk-hd')
		font-size: 2.8vw

	+media('<desk-md')
		font-size: 3.5vw

.ea-main-slider__text
	+font(19px, round-float(27/19, 2))
	text-transform: uppercase
	margin-bottom: 0.5em

	+media('<desk-hd')
		font-size: 1vw

	+media('<desk-md')
		font-size: 1.5vw

/* ea-main-slider end

.ea-main-section--share
	.ea-main-section__layout
		max-width: 1480px

/* share
.share
	margin-bottom: $bottom-space--lg

	&:last-child
		margin-bottom: 0

.share__thumbs
	margin-bottom: 23px
	+clear

	&:last-child
		margin-bottom: 0

/* share end

/* share nav
.share-nav
	float: left
	padding-right: 0
	+clear
	+clear-spacing

	+media('<mob-lg')
		float: none
		display: block
		text-align: center

.share-nav__item
	+display-inline-block-top
	margin-right: -1px
	+font-bold
	+font(18px, 24px)
	letter-spacing: normal
	text-align: center

	a
		display: block
		position: relative
		color: inherit
		white-space: nowrap
		text-decoration: none
		padding: 12px 22px
		min-width: 160px
		border: 1px solid $border-color
		background-color: white

		+media('<mob-lg')
			min-width: 0
			+padding-horizontal(10px)

		// hover
		&:hover
			background-color: $bg-color-light

		// active
		&.active-tab
			color: white
			background-color: #666
			border-color: #666
			z-index: 1
			cursor: default

/* share nav end

/* share panels
.share__panels
	overflow: visible !important

.share__panel
	opacity: 0
	position: absolute
	+position(0)

	&.active-tab
		z-index: 5 !important

/* share panels end

/* share list
.share-list
	// before slide load
	white-space: nowrap
	overflow: hidden
	opacity: 0
	visibility: hidden
	// before slide load end
	position: relative
	border: solid $border-color
	border-width: 1px 0
	margin-bottom: 20px

	&:last-child
		margin-bottom: 0

	&::before, &::after
		+pseudo()
		top: 0
		+size(0, 100%)
		border-left: 1px solid $border-color
		z-index: 5

	&::before
		left: 0

	&::after
		right: 0

	&.slick-initialized, .no-js &
		// after slide load
		white-space: normal
		overflow: visible
		opacity: 1
		visibility: visible
		// after slide load end

	.slick-arrow
		top: auto
		bottom: 100%
		transform: none
		margin: 0 0 23px
		+size(50px)
		border: 1px solid $border-color

		+media('<mob-lg')
			bottom: auto
			top: 50%
			margin: -20px 0 0

	.slick-prev
		left: auto
		right: 49px

		+media('<mob-lg')
			right: auto
			left: 0

.share-list__item
	// before slide load
	float: none
	display: inline-block
	vertical-align: top
	// before slide load end

	.slick-initialized &
		// after slide load
		float: left
		display: block
		// after slide load end

.share-list__inner
	//display: block
	position: relative
	height: 100%
	padding: 20px
	text-decoration: none
	color: inherit
	text-align: center
	border: solid $border-color
	border-width: 0 1px 0 0

	display: flex
	flex-direction: column
	justify-content: space-between
	align-items: stretch

	.share-list__item:first-child &
		border-width: 0 1px

.share-list__labels
	position: absolute
	+position(20px)
	z-index: 5
	+clear-spacing

.share-list__label
	+display-inline-block-top
	+size(40px)
	padding-left: 0.05em
	+font-bold
	+font(12px, 40px)
	letter-spacing: 0.05em
	text-align: center
	background-color: $base-color--ea

	&.label-sale
		font-size: 30px

	&.label-hit
		background-color: $base-color-alt--ea
		color: white
		text-transform: uppercase

	&.label-new
		background-color: #85b700
		color: white
		text-transform: uppercase

.share-list__content
	margin-bottom: 13px

	&:last-child
		margin-bottom: 0

.share-list__img
	position: relative
	max-width: 100%
	width: 164px
	margin: 0 auto 40px

	&::before
		content: ""
		display: block
		width: 100%
		+ratio(1, 1)

	&:last-child
		margin-bottom: 0

	img
		display: block
		position: absolute
		+position(0)
		width: 100%
		height: 100%
		max-width: none
		+object-fit(contain)

.share-list__title
	+font(16px, round-float(19/16, 2))
	overflow: hidden
	text-align: left
	margin: 0 auto $bottom-space
	max-width: 170px
	transition:
		property: color
		duration: $animation-speed

	.no-touchevents a:hover &
		color: $link-color

	&:last-child
		margin-bottom: 0

.share-list__price
	min-height: 52px // костыль

	.cur
		+font-bold
		+font(23px, round-float(28/23, 2))
		margin: 0 0 5px

	.old
		+font(15px, round-float(19/15, 2))
		color: $text-color-light
		text-decoration: line-through

/* share list end

/* ea main section stock
.ea-main-section--stock
	.ea-main-section__title
		text-align: left
		margin-bottom: 23px

/* ea-stock-slider
.ea-stock-slider
	// before slide load
	white-space: nowrap
	overflow: hidden
	opacity: 0
	visibility: hidden
	max-width: 1200px
	// before slide load end

	+media('<desk-hd')
		max-width: none

	&, &.slick-dotted
		margin: 0 auto

	&.slick-initialized, .no-js &
		// after slide load
		white-space: normal
		opacity: 1
		visibility: visible
		overflow: visible
		// after slide load end

	&::before
		left: 100%

	&::after
		right: 100%

	.slick-list
		+margin-horizontal(-10px)

	.slick-dots
		bottom: 16px

		li

			&, .#{$user-content} &
				padding: 4px 15px

			button
				width: 10px
				height: 10px
				border-radius: 0
				box-shadow: 0 0 3px rgba(255, 255, 255, 0.45)

				&, .ea-site &
					background-color: black

				&::before
					$space: 1px
					// =========
					left: $space
					top: $space
					height: calc(100% - #{$space*2})
					width: calc(100% - #{$space*2})
					border-radius: 0
					box-shadow: none
					background-color: #fff

	// hover
	//.no-touchevents &:hover
		$space: 2px
		// ==========
		&::before
			left: $space
			top: $space
			height: calc(100% - #{$space*2})
			width: calc(100% - #{$space*2})

	.slick-arrow
		top: auto
		bottom: 100%
		transform: none
		margin: 0 0 23px
		+size(50px)
		border: 1px solid $border-color

		+media('<mob-lg')
			bottom: auto
			top: 50%
			margin: -20px 0 0

	.slick-prev
		left: auto
		right: 49px

		+media('<mob-lg')
			right: auto
			left: 0

.ea-stock-slider__item
	// before slide load
	float: none
	display: inline-block
	vertical-align: top
	// before slide load end
	color: white
	text-decoration: none
	position: relative
	padding: 0 10px
	transition:
		property: opacity
		duration: $animation-speed

	.slick-initialized &, .no-js &
		// after slide load
		float: left
		display: block
		// after slide load end

	&::before
		content: ""
		display: block
		position: relative
		+ratio(580, 334)

.ea-stock-slider__inner
	position: absolute
	left: 10px
	top: 0
	+size(calc(100% - 20px), 100%)
	text-decoration: none
	color: white

	img
		display: block
		width: 100%
		height: 100%
		max-width: none
		+object-fit(cover)

.ea-stock-slider__info,
.ea-stock-slider__img
	position: absolute
	left: 0
	top: 0
	height: 100%
	width: 100%

.ea-stock-slider__info
	background-color: rgba(0, 0, 0, 0.54)
	padding: 40px
	z-index: 1

	&.align-right
		text-align: left
		order: 1

	.btn-outline, .btn-default
		text-transform: uppercase
		min-width: 165px

	.btn-outline
		border-color: white
		border-width: 2px
		color: white

.ea-stock-slider__info__layout
	display: flex
	flex-direction: column
	justify-content: space-between
	align-items: flex-start
	margin: 0 auto
	height: 100%

.ea-stock-slider__caption
	max-width: 320px

.ea-stock-slider__title
	+font-bold
	+font(24px, round-float(28/24, 2))
	margin-bottom: 0.3em

	//+media('<desk-hd')
		font-size: 2.8vw

	//+media('<desk-md')
		font-size: 3.5vw

.ea-stock-slider__text
	+font(18px, round-float(22/18, 2))
	margin-bottom: 0.4em

	//+media('<desk-hd')
		font-size: 1vw

	//+media('<desk-md')
		font-size: 1.5vw

/* ea-stock-slider end
/* ea main section stock end

/* ea main benefits
.ea-main-section--benefits
	.ea-main-section__title
		margin-bottom: 4rem

.ea-benefits
	margin-bottom: 2rem

	&:last-child
		margin-bottom: 0

.ea-benefits__list
	+grid-parent(40px)
	+clear-spacing

.ea-benefits__item
	+grid-item(6, 40px)
	+font(18px, round-float(22/18, 2))
	letter-spacing: normal

	svg
		display: block
		margin-bottom: 25px
		+size(60px)

/* ea main benefits end

/* ea main news
/* ea-news-previews
.ea-news-previews
	overflow: hidden
	margin-bottom: 22px

	&:last-child
		margin-bottom: 0

.ea-news-previews__list
	padding: 0 0 1px 1px
	+clear-spacing

.ea-news-previews__item
	position: relative
	display: inline-block
	vertical-align: top
	width: calc(#{round-float(100%/3, 4)} + 1px)
	margin: 0 0 -1px -1px
	+font-bold
	+font(1.8rem, round-float(24/18, 2))
	letter-spacing: normal

	+media('<tab-lg')
		width: round-float(100%/1, 4)

.ea-news-previews__inner
	display: block
	position: relative
	height: 100%
	padding: #{round($ea-news-previews-inner-space)} #{$ea-news-previews-inner-space} #{$ea-news-previews-inner-space*2.5}
	text-decoration: none
	color: white
	border: 1px solid white
	transition-property: background
	transition-duration: $animation-speed

	+media('<desk-sb')
		padding: #{round($ea-news-previews-inner-space--sm)} #{$ea-news-previews-inner-space--sm} #{$ea-news-previews-inner-space--sm*3}

	//.no-touchevents &
		&:hover
			background: $bg-color-light

.ea-news-previews__figure
	position: relative
	margin: 0 auto 26px
	max-width: 320px
	letter-spacing: normal

	&:before
		+pseudo-block-relative()
		+ratio(27, 15)

.ea-news-previews__img
	+cover-abs()
	font-size: $font-size
	letter-spacing: normal
	backface-visibility: hidden

	img
		display: block
		max-height: 100%
		max-width: 100%
		+centering-transform-rel()

.ea-news-previews__content
	position: relative

.ea-news-previews__title
	overflow: hidden
	margin-bottom: 16px
	+font-alt-bold
	+font(18px, 26px)
	letter-spacing: normal
	max-height: calc(26px * 3)

.ea-news-previews__text
	position: relative
	overflow: hidden
	+font(16px, 26px)
	letter-spacing: normal
	max-height: calc(26px * 15)

	+media('<desk-hd')
		+font(14px, 20px)
		max-height: calc(20px * 15)

	+media('<desk-sb')
		max-height: calc(20px * 7)

	+media('<tab-lg')
		max-height: none

	& > *:last-child
		margin-bottom: 0

.ea-news-previews__footer
	position: absolute
	bottom: 0
	left: 0
	width: 100%
	padding: 0 #{$ea-news-previews-inner-space} #{round($ea-news-previews-inner-space*0.8)}

	+media('<desk-sb')
		padding: 0 #{$ea-news-previews-inner-space--sm} #{round($ea-news-previews-inner-space--sm*0.8)}

.ea-news-previews__date
	display: block
	+font-normal
	+font(14px, 26px)
	letter-spacing: normal
	color: white

/* news-previews end
/* ea main news end

/* ea main section contacts
.ea-main-section--contacts

	.ea-main-section__align
		padding: 0 !important

	.ea-main-section__layout
		max-width: none

	.ea-main-section__title
		text-align: left
		position: relative
		margin: 0 auto
		overflow: visible
		height: 0
		z-index: 5

		+padding-horizontal(#{$text-layout-space-horizontal})

		+media('<desk-hd')
			+padding-horizontal(#{$text-layout-space-horizontal--lg})

		+media('<tab-lg')
			+padding-horizontal(#{$text-layout-space-horizontal--md})

		+media('<tab-sm')
			+padding-horizontal(#{$text-layout-space-horizontal--sm})

		h2
			position: relative
			top: $text-layout-space-horizontal

			+media('<desk-hd')
				top: $text-layout-space-horizontal--lg

			+media('<tab-lg')
				top: $text-layout-space-horizontal--md

			+media('<tab-sm')
				top: $text-layout-space-horizontal--sm

	.ea-main-section__title__layout
		max-width: $flood-layout-width--ea

		+media('<desk-hd')
			max-width: none

.ea-contacts
	position: relative

.ea-contacts__panel
	position: relative

	&.has-map
		padding: 0

.ea-main-section__pos
	margin: 0 auto

	.ea-main-section__title
		padding-right: 300px // костыль
		margin-bottom: 30px
.main-map
	.ea-contacts__panel &
		height: 370px

		//+media('<desk-lg')
		//	height: 640px
		//
		//+media('<desk-sb')
		//	height: 480px
		//
		//+media('<tab-lg')
		//	height: 360px

.map-popup
	color: $text-color

	h4
		+font-bold
		+font(16px, 24px)
		color: inherit
		margin-bottom: 10px

	.map-popup__list
		+font(14px, 22px)
		margin-bottom: 10px

		&:last-child
			margin-bottom: 0

	.map-popup__row
		margin-bottom: 10px
		+clear

		&:last-child
			margin-bottom: 0

		& > b
			+font-normal

		& > div
			display: inline

			& > div
				display: inline


/* contacts-accordion
.contacts-accordion
	margin-bottom: $bottom-space--md
	+font-regular

	&:last-child
		margin-bottom: 0

	& > a
		display: block
		display: flex
		align-items: center
		position: relative
		padding: 18px 0
		+font-bold
		+font(24px, round-float(32/24, 2))
		color: $text-color
		text-decoration: none
		transition-property: color
		transition-duration: $animation-speed

		&:hover
			color: $base-color

			.ea-site &
				color: $base-color--ea

		& > i
			$this-icon-size: 16px, 10px
			$this-icon-lines-width: 12px
			$this-icon-lines-height: 2px
			$this-icon-lines-color: $text-color

			display: inline-block
			vertical-align: middle
			position: relative
			+size(nth($this-icon-size, 1), nth($this-icon-size, 2))
			min-width: nth($this-icon-size, 1)
			margin: 0 0 0 -#{nth($this-icon-size, 1)}
			top: 2px

			&::before, &::after
				+pseudo()
				bottom: 0
				+size($this-icon-lines-width, $this-icon-lines-height)
				background-color: $this-icon-lines-color
				transition:
					property: background-color
					duration: $animation-speed

			&::before
				right: 50%
				transform-origin: bottom right
				transform: rotate(45deg)

			&::after
				left: 50%
				transform-origin: bottom left
				transform: rotate(-45deg)

		&:hover
			& > i
				&::before, &::after
					background-color: $base-color

					.ea-site &
						background-color: $base-color--ea

		&.is-open i
			transform: rotate(0.5turn)

		& > span
			margin-right: 40px

		& + div
			display: none
			padding: 1rem 0 3rem
			+font(16px, round-float(24/16, 2))

			& > *:last-child
				margin-bottom: 0

	h4
		+font-regular
		+font(14px, round-float(24/14, 2))
		color: inherit
		margin-bottom: 4rem

	.cols
		+clear-spacing
		+grid-parent($grid-space)
		margin-bottom: $bottom-space

		+media('<desk-hd')
			+grid-parent($grid-space--sm)

	.col
		+grid-item(3, $grid-space)
		+font(18px, round-float(32/18, 2))
		letter-spacing: normal

		+media('<desk-hd')
			+grid-item-responsive(3, $grid-space--sm)

		+media('<mob-lg')
			+grid-item-responsive(1, $grid-space--sm)

	.col__title
		+font(14px, round-float(18/14, 2))
		margin-bottom: 2rem

	svg
		display: block
		+size(60px)
		margin-bottom: 2rem

	path
		fill: currentColor

	.col__content
		+font(24px, round-float(32/24, 2))
		margin-bottom: 2rem

		&:last-child
			margin-bottom: 0

		small
			display: block
			+font(14px, round-float(18/14, 2))
			margin-bottom: 2rem

		ul
			margin: 0 0 2rem
			padding: 0

			&:last-child
				margin-bottom: 0

			li
				padding: 0
				margin: 0

				&:last-child
					margin-bottom: 0

				&::before
					content: none

/* contacts-accordion end
/* ea main section contacts end

/* ea-footer-nav
.ea-footer-nav
	+font-regular
	margin: 0 round(-$ea-footer-nav-horizontal-space*0.5)
	+clear-spacing

.ea-footer-nav__col
	position: relative
	+display-inline-block-top
	width: round-float(100%/4, 2)
	padding: 0 $ea-footer-nav-horizontal-space*0.5
	margin-bottom: 2rem
	+font(18px, round-float(32/18, 2))
	letter-spacing: normal

	+media('<desk-sm')
		width: round-float(100%/4, 2)

	+media('<tab-lg')
		width: round-float(100%/2, 2)

	+media('<mob-lg')
		display: none
		width: 100%

	&.col-2
		width: round-float(100%/2, 2)

	& > *:last-child
		margin-bottom: 0

	&.footer-add-info
		width: 100%
		margin-bottom: 0
		padding: 0

.ea-footer-nav__title
	position: relative
	display: block
	+font-alt-bold
	color: black

	a
		color: inherit
		text-decoration: none
		padding-top: 0.5em

.ea-footer-nav__list
	list-style: none
	column-count: 2
	column-gap: 20px

	& > li
		display: inline-block
		vertical-align: top
		width: 100%
		margin-bottom: 0.5em

		&:last-child
			margin-bottom: 0

	a
		padding-top: 0.3em
		color: inherit
		+font(inherit, inherit)
		text-decoration: none
		transition-property: color
		transition-duration: $animation-speed

		.no-touchevents &:hover
			color: $link-color

.ea-footer-nav__item
	float: left
	width: 50.0%
	padding: 0 #{round($ea-footer-nav-horizontal-space/2)}
	+font(16px, round-float(24/16, 2))
	letter-spacing: normal

	&:last-child
		text-align: right

	+media('<mob-lg')
		display: block
		text-align: center
		width: auto

		&:last-child
			text-align: center
			margin-bottom: 0

	.copyright
		font-size: 14px
				
/* ea-footer-nav