@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* ea footer on home page
.ea-site.home-page
	.spacer
		display: block

	.footer
		display: block

/* ea footer on home page end

/*ea scroll sections
$ea-main-section-max-width: 960px !default
$ea-main-section-max-width-lg: 960px !default

.ea-main-section
	position: relative

.ea-main-section__container
	position: relative

//.ea-main-section__align // see layout.sass

.ea-main-section__layout
	position: relative
	max-width: $flood-layout-width
	+push-auto
	text-align: left

.ea-main-max-width
	max-width: $ea-main-section-max-width

	+media('<desk-lg')
		max-width: $ea-main-section-max-width-lg

.ea-main-section__title
	display: flex
	justify-content: space-between
	+font-bold
	+font(48px, round-float(58/48, 1))
	margin-bottom: $bottom-space--md
	color: $text-color
	text-align: center

	+media('<desk-lg')
		font-size: 42px
		margin-bottom: $bottom-space

	+media('<tab-lg')
		display: block
		text-align: center
		margin-bottom: 0.6em

	+media('<tab-sm')
		font-size: 30px

	h2, h3
		margin: 0
		font-family: inherit
		+font(inherit, inherit)
		font-weight: inherit
		color: inherit
		flex: 1 1 12rem

		+media('<tab-lg')
			margin-bottom: 0.2em

			&:last-child
				margin-bottom: 0

	.subtitle
		+font-normal
		+font(24px, round-float(30/24, 1))
		flex: 1 1 12em
		padding: 0.5em

		+media('<desk-hd')
			font-size: 20px

		+media('<desk-sb')
			font-size: 16px
			padding: 0

		+media('<tab-lg')
			font-size: 18px

.ea-main-section__holder
	+clear
	margin-bottom: $bottom-space--md

	&:last-child
		margin-bottom: 0

/* ea scroll sections end

/* ea main section footer
.ea-main-section__footer
	text-align: center

/* ea main section footer end

/* ea main sections with background image
//.ea-main-section--entry, .ea-main-section--news
.ea-main-section--news
	.ea-main-section__container
		background: #f3f3f3 no-repeat center
		background-size: cover

		&::before
			+pseudo()
			+position(0, 0)
			+size(100%)
			background-color: rgba(0, 0, 0, 0.3)

	.ea-main-section__title
		color: white

/*ea main sections with background image end

/*ea main section entry
//.ea-main-section--entry
	color: white
	min-height: 100vh

	.ea-main-section__container

		+media('>=tab-lg')
			display: table
			width: 100%
			height: 100%
			min-height: 100vh

		+media('<tab-lg')
			&::before
				+linear-gradient(to top, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0.6) 25%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.3) 100%)

	.ea-main-section__align
		+padding-vertical(120px)

		+media('>=tab-lg')
			display: table-cell
			vertical-align: middle
			text-align: center

	.ea-main-section__layout
		.main-section__align &
			display: inline-block
			width: 100%

	.ea-main-section__title
		position: relative
		padding-bottom: 0.8em
		margin-bottom: 100px
		+font-bold
		+font(60px, round-float(72/60, 2))
		text-align: left
		color: white

		+media('<desk-lg')
			font-size: 48px

		+media('<tab-lg')
			text-align: center
			margin-bottom: 0
			padding-bottom: 0

		+media('<desk-sm')
			font-size: 36px

		+media('<mob-lg')
			font-size: 28px

		&:last-child
			margin-bottom: 0

		&::before
			+pseudo()
			left: 0
			bottom: 0
			+size(85px, 3px)
			background-color: white

			+media('<tab-lg')
				content: none

		h1, h2, h3
			width: 800px
			max-width: 100%

			+media('<desk-sb')
				width: auto
				max-width: none

/*ea main section entry end

/* ea-main-section--main-slider
.ea-main-section--main-slider

	.ea-main-section__align

		+media('<mob-lg')
			+padding-horizontal(0)
			padding-top: 0 !important

	&:first-child .ea-main-section__align
		padding-top: 20px

	.ea-main-section__layout
		max-width: none

/* ea-main-section--main-slider end

/*ea main section news
.ea-main-section--news
	.ea-main-section__footer
		[class*="btn-"]
			color: white
			fill: white

			& > i
				&::before, &::after
					background-color: white


/*ea main section news end

/*total date
$odds-space: 20px
$odds-space--md: 15px
$odds-icon-size: 60px !default
$odds-icon-size--md: 40px !default

//.odds
	+media('>=tab-lg')
		position: absolute
		left: 0
		bottom: 0
		width: 100%
		z-index: 50

		&:last-child
			margin-bottom: 0

	+media('<tab-lg')
		background-color: black

	+media('<tab-sm')
		display: none

//.odds__list
	+grid-parent($odds-space)
	+clear-spacing

//.odds__item
	+grid-item(3, $odds-space)
	letter-spacing: normal

//.odds__inner
	padding: $odds-space
	background-color: rgba(0, 0, 0, 0.50)
	color: white
	fill: $base-color--ea
	height: 100%

	+media('<desk-sb')
		padding: $odds-space--md

	&::before
		+pseudo-inline-block-relative()
		vertical-align: middle
		height: 100%

//.odds__item

	svg
		+display-inline-block-middle
		+size($odds-icon-size)
		margin-right: $odds-space

		+media('<desk-sb')
			+size($odds-icon-size--md)
			margin-right: $odds-space--md

	path
		fill: inherit

//.odds__title
	+font-alt-bold
	+font(14px, round-float(20/14, 2))
	letter-spacing: 0.05em
	text-transform: uppercase

	+media('<desk-sb')
		font-size: 13px

	svg + &
		+display-inline-block-middle
		width: calc(100% - #{$odds-icon-size} - #{$text-layout-space-horizontal--md} - 6px)

		+media('<desk-sb')
			width: calc(100% - #{$odds-icon-size--md} - #{$text-layout-space-horizontal--md} - 6px)

/*total date end

/* ea-promo
/* ea-promo slider: banners
//.ea-promo-banners
	// before slide load
	white-space: nowrap
	overflow: hidden
	opacity: 0
	visibility: hidden
	// before slide load end

	&.slick-initialized, .no-js &
		// after slide load
		white-space: normal
		overflow: visible
		opacity: 1
		visibility: visible
		// after slide load end

//.ea-promo-banners__item
	// before slide load
	float: none
	display: inline-block
	vertical-align: top
	// before slide load end

	text-decoration: none
	position: relative
	border: 10px solid $base-color-alt--ea

	+media('<mob-lg')
		border-width: 4px

	.slick-initialized &
		// after slide load
		float: left
		display: block
		// after slide load end

	&::before
		content: ""
		display: block
		position: relative
		+ratio(1200, 438)

	img
		display: block
		position: absolute
		+position(0)
		width: 100%
		height: 100%
		max-width: none
		+object-fit(cover)

/* ea-promo slider: banners end

/* ea-promo slider: thumbs
//.ea-promo-thumbs
	// before slide load
	white-space: nowrap
	overflow: hidden
	opacity: 0
	visibility: hidden
	+margin-horizontal(-5px)
	// before slide load end

	&.slick-initialized, .no-js &
		// after slide load
		white-space: normal
		overflow: visible
		opacity: 1
		visibility: visible
		+margin-horizontal(0)
		// after slide load end

		.slick-list
			+margin-horizontal(-5px)

//.ea-promo-thumbs__item
	// before slide load
	float: none
	display: inline-block
	vertical-align: top
	// before slide load end

	position: relative
	+font-light
	+font(16px, 24px)
	text-decoration: none
	color: $text-color
	cursor: pointer

	.slick-initialized &
		// after slide load
		float: left
		display: block
		// after slide load end

	& > span
		display: block
		padding: 13px 12px
		margin: 10px 5px 0
		background-color: #ddd
		+truncate(100%)

		+media('<tab-sm')
			letter-spacing: -4px
			font-size: 0
			line-height: 0

		&::before
			content: attr(data-index)
			display: none
			letter-spacing: normal
			font-size: 16px
			line-height: 24px

			+media('<tab-sm')
				display: inline

	// current
	&.slick-current
		color: white

		& > span
			padding-top: 23px
			margin-top: 0
			background-color: $base-color-alt--ea

/* ea-promo slider: thumbs end
/* ea-promo end

/* ea-main-slider
.ea-main-slider
	// before slide load
	white-space: nowrap
	overflow: hidden
	opacity: 0
	visibility: hidden
	max-width: 1200px
	// before slide load end

	&, &.slick-dotted
		margin: 0 auto

	&.slick-initialized, .no-js &
		// after slide load
		white-space: normal
		overflow: visible
		opacity: 1
		visibility: visible
		// after slide load end

	.slick-list
		overflow: visible

	.slick-dots
		bottom: 16px

		li

			&, .#{$user-content} &
				padding: 4px 15px

			button
				width: 10px
				height: 10px
				border-radius: 0

				&, .ea-site &
					background-color: $base-color-alt--ea

				&::before
					left: 0
					top: 0
					height: 100%
					width: 100%
					border-radius: 0
					box-shadow: none

.ea-main-slider__item
	// before slide load
	float: none
	display: inline-block
	vertical-align: top
	opacity: 0.5
	// before slide load end
	transition:
		property: opacity
		duration: $animation-speed

	text-decoration: none
	position: relative

	&.slick-current
		opacity: 1

	+media('<mob-lg')
		border-width: 4px

	.slick-initialized &, .no-js &
		// after slide load
		float: left
		display: block
		// after slide load end

	&::before
		content: ""
		display: block
		position: relative
		+ratio(1200, 472)

	img
		display: block
		position: absolute
		+position(0)
		width: 100%
		height: 100%
		max-width: none
		+object-fit(cover)

/* ea-main-slider end

/* share
.share
	margin-bottom: $bottom-space--lg

	&:last-child
		margin-bottom: 0

.share__thumbs
	margin-bottom: 23px
	+clear

	&:last-child
		margin-bottom: 0

/* share end

/* share nav
.share-nav
	float: left
	padding-right: 0
	+clear
	+clear-spacing

	+media('<mob-lg')
		float: none
		display: block
		text-align: center

.share-nav__item
	+display-inline-block-top
	margin-right: -1px
	+font-light
	+font(13px, 18px)
	letter-spacing: 0.05em
	text-transform: uppercase
	text-align: center

	a
		display: block
		position: relative
		color: inherit
		white-space: nowrap
		text-decoration: none
		padding: 10px 22px
		min-width: 160px
		border: 1px solid $border-color
		background-color: white

		+media('<mob-lg')
			min-width: 0
			+padding-horizontal(10px)

		// hover
		&:hover
			background-color: $bg-color-light

		// active
		&.active-tab
			color: white
			background-color: $base-color--ea
			border-color: $base-color--ea
			z-index: 1
			cursor: default

/* share nav end

/* share panels
.share__panels
	overflow: visible !important

.share__panel
	opacity: 0
	position: absolute
	+position(0)

	&.active-tab
		z-index: 5 !important

/* share panels end

/* share list
.share-list
	// before slide load
	white-space: nowrap
	overflow: hidden
	opacity: 0
	visibility: hidden
	// before slide load end
	position: relative
	border: solid $border-color
	border-width: 1px 0

	&::before, &::after
		+pseudo()
		top: 0
		+size(0, 100%)
		border-left: 1px solid $border-color
		z-index: 5

	&::before
		left: 0

	&::after
		right: 0

	&.slick-initialized, .no-js &
		// after slide load
		white-space: normal
		overflow: visible
		opacity: 1
		visibility: visible
		// after slide load end

	.slick-arrow
		top: auto
		bottom: 100%
		transform: none
		margin: 0 0 23px
		+size(40px)
		border: 1px solid $border-color

		+media('<mob-lg')
			bottom: auto
			top: 50%
			margin: -20px 0 0

	.slick-prev
		left: auto
		right: 39px

		+media('<mob-lg')
			right: auto
			left: 0

.share-list__item
	// before slide load
	float: none
	display: inline-block
	vertical-align: top
	// before slide load end

	.slick-initialized &
		// after slide load
		float: left
		display: block
		// after slide load end

.share-list__inner
	//display: block
	position: relative
	height: 100%
	padding: 20px
	text-decoration: none
	color: inherit
	text-align: center
	border: solid $border-color
	border-width: 0 1px 0 0

	display: flex
	flex-direction: column
	justify-content: space-between
	align-items: stretch

	.share-list__item:first-child &
		border-width: 0 1px

.share-list__labels
	position: absolute
	+position(20px)
	z-index: 5
	+clear-spacing

.share-list__label
	+display-inline-block-top
	+size(40px)
	padding-left: 0.05em
	+font-bold
	+font(12px, 40px)
	letter-spacing: 0.05em
	text-align: center
	background-color: $base-color--ea

	&.label-sale
		font-size: 30px

	&.label-hit
		background-color: $base-color-alt--ea
		color: white
		font-size: 12px
		text-transform: uppercase

.share-list__content
	margin-bottom: 13px

	&:last-child
		margin-bottom: 0

.share-list__img
	position: relative
	max-width: 100%
	width: 164px
	margin: 0 auto 40px

	&::before
		content: ""
		display: block
		width: 100%
		+ratio(1, 1)

	&:last-child
		margin-bottom: 0

	img
		display: block
		position: absolute
		+position(0)
		width: 100%
		height: 100%
		max-width: none
		+object-fit(contain)

.share-list__title
	+font(16px, round-float(19/16, 2))
	overflow: hidden
	text-align: left
	margin: 0 auto $bottom-space
	max-width: 170px

	&:last-child
		margin-bottom: 0

.share-list__price
	min-height: 52px // костыль

	.cur
		+font-bold
		+font(23px, round-float(28/23, 2))
		margin: 0 0 5px

	.old
		+font(15px, round-float(19/15, 2))
		color: $text-color-light
		text-decoration: line-through

/* share list end

/* ea main section news
.ea-main-section--contacts
	background-color: $bg-color-alt

	.ea-main-section__align
		padding: 0 !important

	.ea-main-section__layout
		max-width: none

	.ea-main-section__title
		text-align: left

.ea-contacts
	position: relative

.ea-contacts__thumbs
	+size(100%, 0)
	position: absolute
	left: 50%
	transform: translate(-50%, 0)
	z-index: 10
	margin-top: 6px

	+media('<tab-sm')
		margin-top: 0

.ea-contacts__thumbs-layout
	+push-auto
	+clear

.ea-contacts-nav
	float: right
	+clear-spacing

.ea-contacts-nav__item
	+display-inline-block-top
	margin-right: -1px
	+font-light
	+font(13px, 18px)
	letter-spacing: 0.05em
	text-transform: uppercase
	user-select: none

	a
		display: block
		position: relative
		color: inherit
		fill: #999
		white-space: nowrap
		text-decoration: none
		padding: 10px 50px 10px 30px
		border: 1px solid $border-color
		background-color: white

		+media('<mob-lg')
			font-size: 0
			line-height: 0
			padding: 0
			+size(40px)

		svg
			position: absolute
			+size(16px)
			top: 50%
			left: 100%
			margin: -8px 0 0 -40px

			+media('<mob-lg')
				left: 50%
				margin: -8px 0 0 -8px

			path
				fill: inherit


		// hover
		&:hover
			background-color: $bg-color-light

		// active
		&.active-tab
			color: white
			fill: white
			background-color: $base-color--ea
			border-color: $base-color--ea
			z-index: 1
			cursor: default

.ea-contacts__panel
	position: relative

	&.has-map
		padding: 0

.ea-main-section__pos
	margin: 0 auto

	.ea-main-section__title
		padding-right: 300px // костыль
		margin-bottom: 30px
.main-map
	.ea-contacts__panel &
		height: 710px

		+media('<desk-lg')
			height: 640px

		+media('<desk-sb')
			height: 480px

		+media('<tab-lg')
			height: 360px

.map-popup
	color: $text-color

	h4
		+font-bold
		+font(16px, 24px)
		color: inherit
		margin-bottom: 10px

	.map-popup__list
		+font(14px, 22px)
		margin-bottom: 10px

		&:last-child
			margin-bottom: 0

	.map-popup__row
		margin-bottom: 10px
		+clear

		&:last-child
			margin-bottom: 0

		& > b
			+font-normal

		& > div
			display: inline

			& > div
				display: inline


/* ea main section news end