@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*scroll sections
$main-section-max-width: 960px !default
$main-section-max-width-lg: 960px !default

.main-section
	position: relative
	//background-color: #f3f3f3
	min-height: 100vh
	overflow: hidden

	.fp-bg
		background: #f3f3f3 no-repeat center
		background-size: cover
		position: absolute
		left: -5px
		top: -5px
		+size(calc(100% + 10px))
		//z-index: -1
		backface-visibility: hidden
		transition-property: transform
		transform: translate(0, -33%)

	&.active, &.fp-completely
		.fp-bg
			transition-duration: $animation-speed-section

	&.active
		.fp-bg
			transform: translate(0, 0)

	&.fp-prev-before .fp-bg
		transform: translate(0, 0)

	&.fp-prev .fp-bg
		transform: translate(0, 0)
		transition-duration: 0s

.main-section__container
	position: relative
	display: table
	width: 100%
	height: 100%
	min-height: 100vh

.main-section__align
	display: table-cell
	vertical-align: middle
	text-align: center
	padding: $top-panel-height+$page-layout-space-horizontal $page-layout-space-horizontal $page-layout-space-horizontal

.main-section__layout
	position: relative
	+push-auto
	max-width: $main-section-max-width
	text-align: left

	.main-section__align &
		display: inline-block
		width: 100%

	+media('<desk-lg')
		max-width: $main-section-max-width-lg

.main-section__title
	+font-bold
	+font(48px, 1.2)
	color: white
	margin-bottom: 1em
	display: flex
	justify-content: space-between

	h2, h3
		margin: 0
		font-family: inherit
		+font(inherit, inherit)
		font-weight: inherit
		color: inherit
		flex: 1 1 12rem

	.subtitle
		+font-normal
		+font(2.4rem, 1.2)
		flex: 1 1 12em
		padding: 0.5em

.main-section__holder
	+clear
	margin-bottom: $bottom-space-md

	&:last-child
		margin-bottom: 0

/*scroll sections end

/*main section entry
.main-section--entry
	color: white

	.fp-bg
		background-image: url(../../img/bg-entry.jpg)

	.main-section__title
		position: relative
		padding-bottom: 0.8em
		margin-bottom: 2em
		+font-bold
		//+font(62px, 1.2)
		+font(52px, 1.2)
		text-transform: uppercase
		color: white

		&::before
			+pseudo()
			left: 0
			bottom: 0
			+size(85px, 3px)
			background-color: white

		h1, h2, h3
			width: 800px
			max-width: 100%

	.main-section__footer
		text-align: center

/*animation show on scroll end
/*main section entry end

/*total date
.total-data
	position: absolute
	left: 0
	bottom: 0
	width: 100%
	padding: 0 $page-layout-space-horizontal $page-layout-space-horizontal
	z-index: 50

	&:last-child
		margin-bottom: 0

.total-data__list
	position: relative
	+margin-horizontal(-20px)
	+clear

	&::before
		+pseudo()
		left: 0
		top: 0
		width: 108px
		height: 114px
		background: url(../../img/bg-triangle.png) no-repeat
		background-size: cover
		z-index: -1
		transform: translate(-30px, -20px)
		//opacity: 0
		//visibility: hidden
		//transition-property: transform, opacity, visibility
		//transition-duration: $animation-speed-element

		//.main-section.active &
			opacity: 1
			visibility: visible
			transition-delay: ($animation-speed-element-delay*3)

.total-data__item
	float: left
	width: 33.3%
	padding: 30px 20px 10px 20px

	//.main-section.active &
		opacity: 1
		visibility: visible
		transform: translate(0, 0)

		@for $child from 0 through 4
			&:nth-child(#{$child})
				transition-delay: (#{$animation-speed-element-delay + $child*0.3})

.total-data__title
	margin-bottom: 0.05em
	+font-light
	+font(90px, 1)
	color: $base-color
	white-space: nowrap

	.prefix, .unit
		+font-normal

	.prefix
		position: relative
		display: inline-block
		vertical-align: top
		+margin($top: 0.1em, $right: 1em)
		+font(2.4rem, 1.3)
		color: white

	.unit
		position: relative
		display: inline-block
		vertical-align: bottom
		+margin($bottom: 0.1em, $left: 1em)
		+font(3.4rem, 1.3)
		color: white

.total-data__text
	+font(1.6rem, 1.2)

/*total date end

.fp-enabled
	.main-section--entry
		+animation-on-scroll(main-section__title total-data)

/*main section news
.main-section--news
	background-size: cover

	.fp-bg
		background-color: #fff
		background-image: url('../../img/bg-news.jpg')

/*main section news end

.fp-enabled
	.main-section--news
		+animation-on-scroll(main-section__title news-grid main-section__footer)

/*main section providers
.main-section--providers
	background-size: cover

	.fp-bg
		background-color: #4f4d47
		background-image: url('../../img/bg-providers.jpg')

/*main section news end

.fp-enabled
	.main-section--providers
		+animation-on-scroll(main-section__title agency providers plea)

/*main section map
.main-section--map
	+font-normal
	+font(1.8rem, 1.222)
	color: #092140
	cursor: default

	.main-section__title
		position: relative
		color: $text-color
		margin-bottom: 0.5em
		padding-bottom: 0.5em

		&::before
			+pseudo()
			bottom: 0
			left: 0
			+size(64px, 3px)
			background-color: $text-color

	.main-section__layout
		height: 0

	.main-section__pos
		position: absolute
		left: 0
		top: 0
		max-width: 100%
		transform: translate(0, -50%)
		z-index: 40
		+antialiased

	.phone
		margin-bottom: 0.5em
		+font-bold
		+font(72px, 1.194)
		color: $text-color

		&:last-child
			margin-bottom: 0

	.info
		margin-bottom: 3em

		&:last-child
			margin-bottom: 0

	.contacts
		margin-bottom: 1.5em
		max-width: 300px
		+font(1.6rem, (round-float(24/16, 2)))

		&:last-child
			margin-bottom: 0

		li
			padding-left: 0
			margin: 0

			&::before
				content: none

		a
			color: inherit
			text-decoration: none
			transition-property: color
			transition-duration: $animation-speed

			.no-touchevents &:hover
				color: $base-color

	//.main-section__holder > *
		opacity: 0
		visibility: hidden
		transform: translate(0, 20px)
		transition-property: transform, opacity, visibility, background-color, color, border-color
		transition-duration: $animation-speed-element

//.main-section--map.active .main-section__holder > *
	opacity: 1
	visibility: visible
	transform: translate(0, 0)

	@for $child from 0 through 4
		&:nth-child(#{$child})
			transition-delay: (#{$animation-speed-element-delay + $child*0.3}, #{$animation-speed-element-delay + $child*0.3}, #{$animation-speed-element-delay + $child*0.3}, 0s, 0s, 0s)

/*main section map end

/*main map
.main-map
	+cover()
	background-color: #d3d3d3

/*main map end

.fp-enabled
	.main-section--map
		+animation-on-scroll(main-section__title phone info main-section__footer)