@import ../utils/_variables
@import ../utils/_mixins
@import ../../libs/include-media/dist/_include-media

/* order steps
.order-steps
	&, .#{$user-content} &
		+display-inline-block-middle
		counter-reset: step
		margin: 0

		li
			position: relative
			+display-inline-block-middle
			counter-increment: step
			margin: 0 0 0 85px
			padding: 0
			+clear-spacing
			color: $text-color-light

			+media('<tab-sm')
				margin-left: 35px

			&::before
				position: relative
				left: auto
				top: auto
				+display-inline-block-middle
				margin-right: 20px
				content: counter(step)
				+size(50px)
				border: 1px solid $outline-color
				border-radius: 50%
				background-color: transparent
				+font(18px, 48px)
				letter-spacing: normal
				text-align: center
				color: $text-color

				+media('<tab-sm')
					+size(24px)
					+font(12px, 22px)
					margin-right: 6px

			&::after
				+pseudo()
				right: 100%
				top: 50%
				background: url(../../img/depict-arrow.png) no-repeat
				background-size: contain
				transform: translate(0, -50%)
				+size(33px, 20px)
				margin-right: 20px

				+media('<tab-sm')
					+size(10px, 10px)
					background: none
					border: solid $outline-color
					border-width: 0 2px 2px 0
					border-radius: 0
					margin-right: 13px
					transform: translate(0, -50%) rotate(-45deg)
					//transform: rotate(45deg)

			&:first-child
				margin-left: 0

				&::after
					content: none

			& > span
				+display-inline-block-middle
				letter-spacing: normal
				+font(18px, 22px)

				+media('<tab-sm')
					+font(14px, 18px)

		li.active
			+font-bold
			color: $text-color

			&::before
				background-color: $base-color
				border-color: $base-color

				.ea-site
					background-color: $base-color--ea
					border-color: $base-color--ea

/* order steps end

/* products basket
.products-basket
	margin-bottom: $bottom-space

	+media('<tab-sm')
		+margin-horizontal(-#{$text-layout-space-horizontal--sm})

	&:last-child
		margin-bottom: 0

.products-basket__list
	display: table
	width: 100%
	//+clear-spacing
	border: solid $outline-color
	border-width: 0 0 2px
	margin-bottom: $bottom-space

	+media('<tab-sm')
		display: block
		border-width: 2px 0

	&:last-child
		margin-bottom: 0

.products-basket__item
	display: table-row
	position: relative
	+clear-spacing
	border: 0 solid $outline-color
	background-color: #{$bg-color}
	transition-property: background-color
	transition-duration: $animation-speed

	+media('<tab-sm')
		display: block

		&:nth-child(odd)
			background-color: $bg-color-light

	+media('>=tab-sm')
		.no-touchevents &
			&:hover, &:focus
				background: $bg-color-light

.products-basket__cell
	//+display-inline-block-middle
	//width: round(100%/5)
	display: table-cell
	letter-spacing: normal
	vertical-align: middle
	+padding-vertical(12px)
	+padding-horizontal(round($product-basket-cell-space/2))
	+font($font-size, $line-height)
	border: solid $outline-color
	border-width: 1px 0 0

	+media('<tab-lg')
		+font($font-size--sm, $line-height--sm)

	+media('<tab-sm')
		display: block
		width: auto !important
		max-width: none !important
		//+font($font-size, $line-height)
		padding: 5px $text-layout-space-horizontal--sm
		border-width: 0

		&:first-child
			padding-top: 20px

		&:last-child
			padding-bottom: 20px

.products-basket__cell[data-label]
	+media('<tab-sm')
		position: relative
		display: flex
		//justify-content: space-between
		justify-content: flex-start
		align-items: center

		&::before
			display: block
			content: attr(data-label)
			width: $product-basket-label-width
			min-width: $product-basket-label-width
			padding-right: 20px
			+font-normal
			//text-align: center
			+font(12px, 16px)
			letter-spacing: 0.025em
			text-transform: uppercase

			+media('<mob-md')
				width: $product-basket-label-width--sm
				min-width: $product-basket-label-width--sm

.products-basket__head
	+media('<tab-sm')
		display: none

	.products-basket__cell
		+font-bold
		background-color: $bg-color-light
		border-width: 0 0 1px

.products-basket__product
	width: 49.8%
	text-align: left

	+media('<tab-sm')
		+clear

.products-basket__figure
	+display-inline-block-middle
	position: relative
	width: #{$product-basket-figure-width}
	margin-right: #{$product-basket-figure-space}

	+media('<tab-sm')
		float: left
		width: #{$product-basket-figure-width--sm}
		margin-right: 0

	+media('<mob-md')
		float: none
		margin-bottom: #{$product-basket-figure-space}

	&:before
		+pseudo-block-relative()
		+ratio(4, 3)

.products-basket__img
	+cover-abs()
	backface-visibility: hidden

	img
		display: block
		max-height: 100%
		max-width: 100%
		+centering-transform-rel()

.products-basket__title
	+display-inline-block-middle
	width: calc(100% - #{$product-basket-figure-width} - #{$product-basket-figure-space} - 6px)
	transition-property: color
	transition-duration: $animation-speed

	+media('<tab-sm')
		display: block
		width: auto
		margin-left: $product-basket-label-width

	+media('<mob-md')
		margin-left: 0

	a
		text-decoration: none
		color: inherit
		transition: inherit
		padding-top: 0.6em

		.no-touchevents &:hover
			color: $link-color

.products-basket__amount
	.spinner
		display: inline-block

.products-basket__price,
.products-basket__sum
	.cur
		display: block
		white-space: nowrap
		font-size: 16px

		+media('<tab-sm')
			white-space: normal

// .products-basket__price

.products-basket__sum
	.cur
		+font-bold
		font-size: 20px

.products-basket__remove
	text-align: center
	max-width: 70px

	+media('<tab-sm')
		//justify-content: space-between
		text-align: right

	.btn-remove
		line-height: 1
		vertical-align: middle

		+media('<tab-sm')
			padding-right: 10px

			& > i
				+size(32px)
				vertical-align: middle

			& > span
				+display-inline-block-middle
				clip: auto
				height: auto
				margin: 0
				padding: auto
				position: relative
				width: auto

.product-basket__total
	text-align: right
	margin-bottom: $bottom-space

	+media('<mob-lg')
		text-align: center

	&:last-child
		margin-bottom: 0

	& > div
		+display-inline-block-middle

	.label
		margin-right: 20px

	.total-price
		+font-bold

.product-basket__footer
	text-align: right
	margin-bottom: $bottom-space
	direction: rtl

	+media('<mob-lg')
		text-align: center
		direction: ltr

	.arr-wrap
		margin: 0 -#{round($bottom-space/2)} -#{$bottom-space}

		+media('<mob-lg')
			+margin-horizontal(0)

	&:last-child
		margin-bottom: 0

	[class*="btn-"]
		margin: 0 #{round($bottom-space/2)} #{$bottom-space}
		min-width: 250px
		direction: ltr

		+media('<mob-lg')
			display: block
			+push-auto

/* products basket end