@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*buttons
[class|="btn"], [class*=" btn-"], input[type="submit"], input[type="button"], input[type="reset"], button
	+display-inline-block-top
	position: relative
	text-align: center
	text-decoration: none
	cursor: pointer

[class|="btn"], [class*=" btn-"]
	& input[type="submit"], & input[type="button"], & input[type="reset"]
		background: url("../../img/empty.png") repeat
		display: block
		+cover()
		padding: 0
		border: none
		z-index: 99
		opacity: 0

//btn-default
.btn-default, .btn-default-alt
	position: relative
	+font-alt-bold
	+font(1.6rem, 24px)
	color: $btn-text-color
	padding: 12px 25px
	border: 1px solid transparent
	background: $btn-bg-color
	box-shadow: none
	transition-property: background-color, color, border-color
	transition-duration: $animation-speed
	margin: 0

	.no-touchevents &:hover
		background-color: $btn-bg-hover-color

	&:active
		transform: scale(0.95)

//btn-default-alt
.btn-default-alt
	color: $btn-text-color
	border: 1px solid $btn-text-color
	background: none

	.no-touchevents &:hover
		background: $btn-bg-color
		border-color: $btn-bg-color

// btn-more
.btn-main
	position: relative
	min-width: 240px
	padding: 13px 30px
	+font(1.6rem, 1.3)
	color: $text-color
	background-color: transparent
	border: 1px solid $text-color
	transition-property: background-color, color, border-color
	transition-duration: $animation-speed

	.no-touchevents &:hover
		background-color: $base-color
		border-color: $base-color

	//&:active
		transform: translate(0, 2px) scale(0.95)

	& + span
		display: inline-block
		vertical-align: middle

	svg
		display: inline-block
		vertical-align: middle
		+size(20px)
		margin-right: 20px

	path
		fill: $text-color

.btn-main--more
	display: block
	position: relative
	min-width: 240px
	padding: 13px 30px 14px
	+font(1.4rem, 1.5)
	color: white
	background-color: transparent
	+antialiased
	transition-property: background-color, color
	transition-duration: $animation-speed

	&::before, &::after
		+pseudo()
		+cover($position: null)
		z-index: -1
		border: solid $base-color

	&::before
		border-width: 0 0 1px 1px

	&::after
		border-width: 1px 1px 0 0

	& > span
		position: relative
		padding-right: 35px
		filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 0.35))
		transition-property: filter
		transition-duration: $animation-speed

		&::before, &::after
			+pseudo()
			top: 50%
			right: 0
			width: 10px
			height: 2px
			background-color: white
			backface-visibility: hidden
			transition-property: background-color
			transition-duration: $animation-speed

		&::before
			transform: rotate(0.25turn)

	.no-touchevents &:hover
		background-color: $base-color
		color: $text-color

		& > span
			filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 0.0))

			&::before, &::after
				background-color: $text-color

/*buttons end