@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*buttons
[class|="btn"], [class*=" btn-"], input[type="submit"], input[type="button"], input[type="reset"], button
	display: inline-block
	vertical-align: top
	position: relative
	text-align: center
	text-decoration: none
	cursor: pointer

[class|="btn"], [class*=" btn-"]
	& input[type="submit"], & input[type="button"], & input[type="reset"]
		background: url("../../img/empty.png") repeat
		display: block
		+cover()
		padding: 0
		border: none
		z-index: 99
		opacity: 0

//btn-default
[class*="btn-default"]
	position: relative
	+font-alt-bold
	+font(1.6rem, 24px)
	color: $btn-text-color
	padding: 12px 25px
	border: 1px solid transparent
	background: $btn-bg-color
	box-shadow: none
	transition-property: background-color, color
	transition-duration: $animation-speed
	margin: 0

	.no-touchevents &:hover
		background-color: $btn-bg-hover-color

	&:active
		transform: scale(0.95)

//btn-default-alt
.btn-default-alt
	color: $btn-bg-color
	border: 2px solid $btn-bg-color
	background: $btn-text-color

	.no-touchevents &:hover
		background: $btn-bg-hover-color
		color: $btn-text-color

// btn-more
.btn-main
	position: relative
	min-width: 240px
	padding: 13px 30px
	+font(1.6rem, 1.3)
	color: $text-color
	background-color: transparent
	border: 1px solid $text-color
	+antialiased

	.no-touchevents &:hover
		background-color: $base-color
		border-color: $base-color

	//&:active
		transform: translate(0, 2px) scale(0.95)

	& + span
		display: inline-block
		vertical-align: middle

	svg
		display: inline-block
		vertical-align: middle
		+size(20px)
		margin-right: 20px

	path
		fill: $text-color

.btn-main--more
	display: block
	position: relative
	min-width: 240px
	padding: 13px 30px 14px
	+font(1.4rem, 1.5)
	color: white
	background-color: transparent
	+antialiased
	opacity: 0
	visibility: hidden
	transition-property: background-color, transform, opacity, visibility
	transition-duration: $animation-speed-element

	.no-touchevents &:hover
		background-color: $base-color

	.main-section.active &
		opacity: 1
		visibility: visible
		transition-delay: 0s, $animation-speed-element-delay*3, $animation-speed-element-delay*3, $animation-speed-element-delay*3

	&::before, &::after
		+pseudo()
		+cover($position: null)
		z-index: -1
		border: solid $base-color
		transition-property: transform
		transition-duration: $animation-speed-element

		.main-section.active &
			transform: translate(0, 0)
			transition-delay: $animation-speed-element-delay*3

	&::before
		border-width: 0 0 1px 1px
		transform: translate(-10px, 10px)

	&::after
		border-width: 1px 1px 0 0
		transform: translate(10px, -10px)

	& > span
		position: relative
		padding-right: 35px
		filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 0.35))

		&::before, &::after
			+pseudo()
			top: 50%
			right: 0
			width: 10px
			height: 2px
			background-color: white
			transition-property: background-color
			transition-duration: $animation-speed

		&::before
			transform: rotate(0.25turn)

/*buttons end