@import ../utils/_variables
@import ../utils/_mixins
@import ../../libs/include-media/dist/_include-media

/* catalog
.catalog
	overflow: hidden
	padding-right: 1px
	margin-bottom: $bottom-space--md

	&:last-child
		margin-bottom: 0

.catalog__list
	+clear-spacing
	padding-bottom: 1px

.catalog__item
	+display-inline-block-top
	width: 100%
	position: relative
	padding: 1px 0 0 1px
	+font(1.5rem, round-float(18px/15px, 2))
	letter-spacing: normal

.catalog__inner
	display: block
	position: relative
	padding: 38px 40px
	height: 100%
	text-decoration: none
	color: inherit
	//box-shadow: 0 0 0 1px $outline-color
	transition-property: background
	transition-duration: $animation-speed

	.no-touchevents &
		&:hover, &:focus
			background: $bg-color-light

// дополнительные бордеры нужны для safari
// т.к. в этом браузере не поддерживается автовысота во flex-box элементах
.catalog, .catalog__list, .catalog__item, .catalog__inner
	position: relative

	&::before, &::after
		+pseudo()
		+size(0)
		border: 0 solid $outline-color

.catalog
	&::after
		left: 0
		bottom: 0
		border-width: 0 0 1px
		+size(9999px, 0)

.catalog__list, .catalog__item
	&::before
		right: -1px
		top: 0
		+size(0, 9999px)
		border-width: 0 1px 0 0

.catalog__list
	&::after
		top: 0
		left: 0
		+size(9999px, 0)
		border-width: 0 0 1px 0

.catalog__item
	&::after
		top: 0
		left: 0
		+size(0, 9999px)
		border-width: 0 0 0 1px

.catalog__inner

	&::after
		top: -1px
		left: 0
		+size(9999px, 0)
		border-width: 1px 0 0

// дополнительные бордеры нужны для safari END

.catalog__figure
	float: left
	position: relative
	margin: 4px 40px 0 0
	width: 102px

	&:before
		+pseudo-block-relative()
		+ratio(1, 1)

.catalog__img
	+cover-abs()
	font-size: $font-size
	letter-spacing: normal
	backface-visibility: hidden

	img
		display: block
		max-height: 100%
		max-width: 100%
		+centering-transform-rel()

.catalog__content
	overflow: hidden
	margin-bottom: $bottom-space

	& > *:last-child
		margin-bottom: 0

	ul

		li
			padding-left: 0
			margin: 0

			&::before
				content: none

		a
			display: block
			padding: 0 0 0.7em
			color: inherit
			text-decoration: none
			transition-property: color
			transition-duration: $animation-speed

			.no-touchevents &:hover
				color: $link-color

		ul, ol
			padding-left: 30px
			margin: 0

			a
				&::before
					content: '–'
					display: inline-block
					position: relative
					margin-right: 5px
					+position(auto, auto)
					width: auto
					height: auto
					border: none

.catalog__title
	+font-alt-bold
	+font(18px, 22px)
	text-transform: uppercase
	margin-bottom: $bottom-space

.catalog__text
	position: relative

	& > *:last-child
		margin-bottom: 0

/* grid view
.grid-view-activated
	.catalog__list
		display: flex
		flex: 0 1 auto
		//justify-content: stretch
		flex-flow: row wrap

	.catalog__item
		+display-inline-block-top
		width: round-float(100%/5, 4)
		border-width: 0 1px 1px 0

		+media('<desk-qhd')
			width: round-float(100%/4, 4)

		+media('<desk-hd')
			width: round-float(100%/3, 4)

		+media('<desk-lg')
			width: round-float(100%/2, 4)

		//+media('<desk-md')
			width: round-float(100%/3, 4)

		//+media('<tab-lg')
			width: round-float(100%/2, 4)

		+media('<mob-lg')
			width: round-float(100%/1, 4)


	.catalog__inner
		+padding-horizontal(30px)
	
	.catalog__figure
		float: none
		margin: 0 auto $bottom-space

	.catalog__title
		text-align: center

/* grid view end

/* button show
.catalog__btn-show
	position: relative
	+display-inline-block-top
	padding-right: 17px
	+font(15px, 19px)
	color: $link-color
	text-decoration: none
	transition-property: color, border-color
	transition-duration: $animation-speed

	& > span
		border-bottom: 1px dashed $link-color
		transition: inherit

	i
		position: relative
		+display-inline-block-top
		top: -2px
		+font-bold
		+font(13px, 19px)

	&::after
		+pseudo()
		right: 0
		top: 50%
		width: 7px
		height: 7px
		margin-top: -2px
		border: solid $link-color
		border-width: 0 1px 1px 0
		transform: rotate(45deg)
		transform-origin: right top

	&.active
		&::after
			border-width: 1px 0 0 1px
			margin-top: 3px

	.no-touchevents &:hover

		& > span
			border-color: transparent

/* button show end
/* catalog end
