@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* CATALOG MENU
/* catalog menu list
.catalog-menu
	position: fixed
	right: 0
	top: 0
	height: 100%
	padding-right: $catalog-categories-width--full
	width: $catalog-menu-width
	z-index: 998

/* catalog menu list
// общие стили для главного списка навигации
.catalog-menu__list
	position: relative
	background-color: $catalog-menu-bg-color
	min-height: 100%

// общие стили для подменю навигации
.catalog-menu__drop
	position: relative
	background-color: $catalog-menu-bg-color
	display: none

// общие стили для пунктов навигации
.catalog-menu__list

	li
		position: relative
		overflow: hidden

		//&::before, &::after
			+pseudo()
			height: 20px
			width: 110%
			left: -5%
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.25)
			transition-property: opacity
			transition-duration: $animation-speed
			z-index: 10
			pointer-events: none
			opacity: 0

		//&::before
			top: -20px

		//&::after
			bottom: -20px

		//&.is-open
			&::before, &::after
				opacity: 1

	.catalog-menu__tab
		position: relative

	a
		display: block
		position: relative
		color: $catalog-menu-text-color
		text-decoration: none
		transition-property: color, background-color
		transition-duration: $animation-speed
		padding: #{round($catalog-menu-horizontal-space*0.85)} $catalog-menu-horizontal-space
		//border-bottom: 1px solid $catalog-menu-border-color
		+font(16px, 20px)

// стили для пунктов навигации, у которых ЕСТЬ ПОДМЕНЮ
.catalog-menu__list li.has-drop > .catalog-menu__tab > a
	padding-right: (round($catalog-menu-arrow-size+10))

// стили для пункта навигации ТЕКУЩЕЙ страницы
.catalog-menu__list li.current > .catalog-menu__tab

	&, .no-touchevents &

		a, a:hover

			//+media('<desk-hd')
			+media('<desk-md')
				// для экранов меньше 1920
				color: white
				box-shadow: inset 5px 0 0 black

		//& a span
			border-color: $mark-color-alt

// стили для пункта навигации С ОТКРЫТЫМ ПОДМЕНЮ
.catalog-menu__list li
	&.is-open > .catalog-menu__tab a
		&::before
			opacity: 1
			transform: translate(0, 0)

// особые стили для пунктов навигации ПЕРВОГО урованя
.catalog-menu__list > li

	& > .catalog-menu__tab a
		//background-color: $catalog-menu-bg-color

		// для больших экранов
		+font-normal
		+font(14px, 17px)
		color: #ccc
		text-transform: uppercase
		letter-spacing: 0.1em
		background-color: #484848
		+padding-vertical(10px)

		.no-touchevents &:hover
			color: white

	// для больших экранов
	&.has-drop > .catalog-menu__tab
		a
			padding-right: $catalog-menu-horizontal-space

		.catalog-menu__angle
			display: none

	//&.is-open > .catalog-menu__tab a
		background-color: shade($catalog-menu-bg-color, 90%)
		border-color: shade($catalog-menu-border-color, 90%)

	// для больших экранов
	& > .catalog-menu__drop
		display: block

// СТРЕЛКИ навигации
.catalog-menu__angle
	position: absolute
	right: 0
	top: 0
	width: $catalog-menu-arrow-size
	height: 100%
	background-color: $catalog-menu-bg-color
	border: solid #666
	border-width: 0 0 0 1px
	transition-property: transform, color, background-color
	transition-duration: $animation-speed
	z-index: 2
	cursor: pointer
	display: none

	li.has-drop > .catalog-menu__tab > &
		display: block

	i
		position: absolute
		+position(50%, 50%)
		+size(16px)
		margin: -8px 0 0 -8px
		pointer-events: none
		transition-property: transform
		transition-duration: $animation-speed
		+font(0, 0)

		&::before, &::after
			+pseudo()
			+position(50%, 0)
			height: 2px
			width: 16px
			backface-visibility: hidden
			background-color: $catalog-menu-text-color
			transition-property: background-color, transform
			transition-duration: $animation-speed

		&::after
			transform: rotate(0.25turn)

// стили стрелок навигации для разных состояний
.catalog-menu__angle

	// активное (подменю открыто)
	li.is-open > .catalog-menu__tab & i
		//transform: rotate(0)

		&::before, &::after
			transform: rotate(0)

	// ховер
	.no-touchevents li > .catalog-menu__tab &:hover i
		&::before, &::after
			background-color: white

// особые стили для пунктов ПОДМЕНЮ
.catalog-menu__drop

	// особые стили для пунктов навигации ВТОРОГО урованя
	ul, a, .catalog-menu__angle
		background-color: $catalog-menu-bg-color-s

		.no-touchevents &:hover
			color: white

	a
		+font-bold
		text-transform: uppercase

	.catalog-menu__drop
		// особые стили для пунктов навигации ТРЕТЬЕГО урованя
		ul, a, .catalog-menu__angle
			background-color: $catalog-menu-bg-color-ss

		a
			+font-normal
			text-transform: none

		.catalog-menu__drop
			// особые стили для пунктов навигации ЧЕТВЕРТОГО урованя
			ul, a, .catalog-menu__angle
				background-color: $catalog-menu-bg-color-sss

			a
				+font(15px, 20px)
				padding-left: #{round($catalog-menu-horizontal-space*2)}
				+padding-vertical(round($catalog-menu-horizontal-space*0.5))
				
				&:hover
					color: $base-color--ea

			.catalog-menu__drop
				// особые стили для пунктов навигации ПЯТОГО урованя
				ul, a, .catalog-menu__angle
					background-color: $catalog-menu-bg-color-ssss

/* catalog menu list

/* catalog categories
.catalog-categories
	position: fixed
	right: 0
	top: 0
	height: 100%
	width: $catalog-categories-width--full
	background-color: $base-color--ea
	z-index: 998

.catalog-categories__holder
	position: relative
	width: $catalog-categories-width--full
	top: 50%
	transform: translate(0, -50%)
	max-height: 100%
	overflow-x: hidden
	overflow-y: auto

.catalog-categories__row
	display: block
	//position: absolute
	//+position(0, 100%)
	//+size(auto, 100%)
	//color: $text-color
	//+clear-spacing
	//white-space: nowrap
	//text-decoration: none
	//text-align: center
	//background-color: $base-color
	//transform: translate(-#{$sidebar-width}, 0)

	//.no-touchevents &:hover
		transform: translate(-100%, 0)

.catalog-categories__item
	display: block
	margin-top: -1px
	position: relative

.catalog-categories__cell
	position: relative
	display: block
	color: black
	fill: black
	+clear-spacing
	text-decoration: none
	border: solid $side-menu-border-color
	border-width: 1px 0
	background-color: $base-color--ea
	transition-property: background-color, transform, border-color, color, fill
	transition-duration: $animation-speed

	.no-touchevents &:hover
		background-color: $side-menu-bg-color-hover

	.no-touchevents &.active-tab
		background-color: $catalog-menu-bg-color-s
		color: white
		fill: white
		border-color: $catalog-menu-bg-color-s
		z-index: 5

.catalog-categories__figure
	+display-inline-block-middle
	+size(#{$sidebar-width}, auto)
	position: relative
	z-index: 5

	&::before
		+pseudo-block-relative()
		+ratio(1, 1)

	svg
		+centering-transform-abs()
		+size(50px)

	path
		fill: inherit
		transition-property: inherit
		transition-duration: inherit

.catalog-categories__title
	+display-inline-block-middle
	max-width: calc(100% - #{$sidebar-width} - 5px)
	position: relative
	padding: 10px 20px 10px 0
	+font-bold
	+font(14px, 17px)
	text-align: left
	letter-spacing: normal
	text-transform: uppercase
	white-space: normal
	z-index: 5

	//.no-touchevents .catalog-categories__cell:hover &
		transition-delay: #{$animation-speed*1.5}
		opacity: 1

/* catalog categories end
/* CATALOG MENU end