@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* CATALOG MENU
/* catalog menu list
.catalog-menu
	position: fixed
	right: 0
	top: 0
	height: 100%
	padding-right: $catalog-categories-width--full
	width: $catalog-menu-width
	z-index: 998

/* catalog menu list
// общие стили для главного списка навигации
.catalog-menu__list
	position: relative
	background-color: $catalog-menu-bg-color
	min-height: 100%

// общие стили для подменю навигации
.catalog-menu__drop
	position: relative
	background-color: $catalog-menu-bg-color
	display: none

// общие стили для пунктов навигации
.catalog-menu__list

	li
		position: relative
		overflow: hidden

		//&::before, &::after
			+pseudo()
			height: 20px
			width: 110%
			left: -5%
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.25)
			transition-property: opacity
			transition-duration: $animation-speed
			z-index: 10
			pointer-events: none
			opacity: 0

		//&::before
			top: -20px

		//&::after
			bottom: -20px

		//&.is-open
			&::before, &::after
				opacity: 1

	.catalog-menu__tab
		position: relative

	a
		display: block
		position: relative
		color: $catalog-menu-text-color
		text-decoration: none
		transition-property: color, background-color
		transition-duration: $animation-speed
		padding: 21px $grid-inside-horizontal-space 22px
		border-bottom: 1px solid $catalog-menu-border-color
		font-size: 14px
		line-height: 1.4
		letter-spacing: 0.02em

// стили для пунктов навигации, у которых ЕСТЬ ПОДМЕНЮ
.catalog-menu__list li.has-drop > .catalog-menu__tab > a
	padding-right: (round($grid-inside-horizontal-space*2.5))

// стили для пункта навигации ТЕКУЩЕЙ страницы
.catalog-menu__list li.current > .catalog-menu__tab

	&, .no-touchevents &

		a, a:hover
			color: white
			box-shadow: inset 5px 0 0 white

		//& a span
			border-color: $mark-color-alt

// стили для пункта навигации С ОТКРЫТЫМ ПОДМЕНЮ
.catalog-menu__list li
	&.is-open > .catalog-menu__tab a
		&::before
			opacity: 1
			transform: translate(0, 0)

// особые стили для пунктов навигации ПЕРВОГО урованя
.catalog-menu__list > li

	& > .catalog-menu__tab a
		font-family: $font-alt
		+font(16px, 1.5)
		background-color: $catalog-menu-bg-color
		+padding-vertical(18px, 17px)

		.no-touchevents &:hover
			color: white

	//&.is-open > .catalog-menu__tab a
		background-color: shade($catalog-menu-bg-color, 90%)
		border-color: shade($catalog-menu-border-color, 90%)

	& > .catalog-menu__drop
		display: block

// СТРЕЛКИ навигации
.catalog-menu__angle
	position: absolute
	right: 0
	top: 0
	width: round($grid-inside-horizontal-space*2)
	height: 100%
	background-color: $catalog-menu-bg-color
	border: solid $catalog-menu-border-color
	border-width: 0 0 1px 1px
	transition-property: transform, color, background-color
	transition-duration: $animation-speed
	z-index: 2
	cursor: pointer
	display: none

	li.has-drop > .catalog-menu__tab > &
		display: block

	i
		position: absolute
		left: 50%
		top: 50%
		width: 12px
		height: 8px
		pointer-events: none
		margin: -4px 0 0 -6px
		transition-property: transform
		transition-duration: $animation-speed
		font-size: 0
		line-height: 0

		&::before, &::after
			content: ''
			position: absolute
			bottom: 0
			height: 10px
			width: 2px
			border-radius: 2px
			backface-visibility: hidden
			background-color: $catalog-menu-text-color
			transform-origin: center center
			transition-property: background-color
			transition-duration: $animation-speed

		&::before
			right: 50%
			transform-origin: right bottom
			transform: rotate(45deg)

		&::after
			left: 50%
			transform-origin: left bottom
			transform: rotate(-45deg)

// стили стрелок навигации для разных состояний
.catalog-menu__angle

	// активное (подменю открыто)
	li.is-open > .catalog-menu__tab & i
		transform: rotate(-0.5turn)

		//&::before, &::after
			background-color: $subsite-menu-text-color

	// ховер
	.no-touchevents li > .catalog-menu__tab &:hover i
		&::before, &::after
			background-color: white

// особые стили для пунктов ПОДМЕНЮ
.catalog-menu__drop

	// особые стили для пунктов навигации ВТОРОГО урованя
	ul, a, .catalog-menu__angle
		background-color: $catalog-menu-bg-color-s

		.no-touchevents &:hover
			color: white

	.catalog-menu__drop
		// особые стили для пунктов навигации ТРЕТЬЕГО урованя
		ul, a, .catalog-menu__angle
			background-color: $catalog-menu-bg-color-ss

		.catalog-menu__drop
			// особые стили для пунктов навигации ЧЕТВЕРТОГО урованя
			ul, a, .catalog-menu__angle
				background-color: $catalog-menu-bg-color-sss

			.catalog-menu__drop
				// особые стили для пунктов навигации ПЯТОГО урованя
				ul, a, .catalog-menu__angle
					background-color: $catalog-menu-bg-color-ssss

/* catalog menu list

/* catalog categories
.catalog-categories
	position: fixed
	right: 0
	top: 0
	height: 100%
	width: $catalog-categories-width--full
	background-color: $base-color--ea
	z-index: 998

.catalog-categories__holder
	position: relative
	width: $catalog-categories-width--full
	top: 50%
	transform: translate(0, -50%)
	max-height: 100%
	overflow-x: hidden
	overflow-y: auto

.catalog-categories__row
	display: block
	//position: absolute
	//+position(0, 100%)
	//+size(auto, 100%)
	//color: $text-color
	//+clear-spacing
	//white-space: nowrap
	//text-decoration: none
	//text-align: center
	//background-color: $base-color
	//transform: translate(-#{$sidebar-width}, 0)

	//.no-touchevents &:hover
		transform: translate(-100%, 0)

.catalog-categories__item
	display: block
	margin-top: -1px
	border: solid $sidemenu-bg-color-hover
	border-width: 1px 0
	position: relative

.catalog-categories__cell
	display: block
	color: $text-color
	+clear-spacing
	white-space: nowrap
	text-decoration: none
	text-align: center
	background-color: $base-color--ea
	transition-property: background-color, transform
	transition-duration: $animation-speed

	//.no-touchevents &:hover
		background-color: black

.catalog-categories--hover
	transition-property: background-color, transform
	transition-duration: $animation-speed

.catalog-categories__figure
	+display-inline-block-middle
	+size(#{$sidebar-width}, 100%)
	position: relative
	z-index: 5

	&::before
		+pseudo-inline-block-relative()
		+ratio(1, 1)

	svg
		+centering-transform-abs()
		+size(50px)
		transition-property: opacity, transform
		transition-duration: $animation-speed

		&:first-child
			display: none

	path
		fill: black

.catalog-categories__title
	+display-inline-block-middle
	position: relative
	max-height: 100%
	padding-right: 20px
	+font-bold
	+font(1.6rem, 1.167)
	letter-spacing: normal
	text-transform: uppercase
	text-align: left
	opacity: 1
	transition-property: color, transform, opacity
	transition-duration: round-float($animation-speed*1.5, 1)
	z-index: 5

	//.no-touchevents .catalog-categories__cell:hover &
		transition-delay: #{$animation-speed*1.5}
		opacity: 1

/* catalog categories end
/* CATALOG MENU end