@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*news grid
.news-grid
	margin-bottom: $bottom-space

	&.news-grid--home
		margin-bottom: 0

	&:last-child
		margin-bottom: 0

.news-grid__list
	position: relative
	+grid-parent($grid-space)
	+clear-spacing

	+media('<desk-hd')
		+grid-parent($grid-space--sm)

.news-grid__item
	position: relative
	letter-spacing: normal

	.news-grid &
		+grid-item(3, $grid-space)
		letter-spacing: normal

		+media('<desk-hd')
			+grid-item(3, $grid-space--sm)

		+media('<tab-sm')
			+grid-item(1, $grid-space--sm)

.news-grid__inner
	display: block
	position: relative
	text-decoration: none
	color: $text-color
	background-color: #ddd
	height: 100% // inner по высоте равен item

.news-grid__content
	padding: #{$grid-inside-vertical-space+8} $grid-inside-horizontal-space $grid-inside-vertical-space

	+media('<desk-hd')
		padding: 28px 20px 20px

.news-grid__meta
	margin-bottom: 0.8em
	padding-bottom: 0.8em
	+font(1.8rem, 1.3)
	border-bottom: 1px solid $border-color

	&:last-child
		margin-bottom: 0

	time
		display: block
		+font-bold
		color: $text-color

.news-grid__title
	+font-normal
	+font(2.2rem, 1.227)
	color: $text-color
	margin-bottom: 1.5em

	&:last-child
		margin-bottom: 0

.news-grid__text
	margin-bottom: $bottom-space
	overflow: hidden
	+font(18px, 24px)
	max-height: calc(24px * 13)

	+media('<desk-hd')
		+font(16px, 20px)
		max-height: calc(20px * 13)

	+media('<desk-sb')
		max-height: calc(20px * 8)

	+media('<tab-lg')
		max-height: calc(20px * 12)

	//@media (max-height: 949px)
		max-height: calc(#{$font-size * $line-height} * 8)

	//@media (max-height: 769px)
		max-height: calc(#{$font-size * $line-height} * 6)

	//@media (max-height: 637px)
		max-height: calc(#{$font-size * $line-height} * 4)

	&:last-child
		margin-bottom: 0
