@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*agency
.agency
	counter-reset: section
	text-align: center
	margin-bottom: 30px

	+media('<desk-hd')
		margin-bottom: 20px

	&:last-child
		margin-bottom: 0

.agency__holder
	+display-inline-block-top
	+clear-spacing

	+media('<tab-lg')
		display: block

.agency__item
	position: relative
	+display-inline-block-middle
	width: 33.3%
	padding: 50px
	counter-increment: section
	+font($font-size, $line-height)
	letter-spacing: normal

	+media('<desk-hd')
		padding: 20px 50px

	+media('<desk-sb')
		padding: 5px 30px

	+media('<tab-lg')
		display: block
		width: auto
		max-width: 320px
		+push-auto
		padding: 40px 0

	&::before
		+pseudo($content: counter(section))
		+centering-transform()
		+font-black
		+font(224px, 1)
		color: rgba(243, 243, 243, 0.35)

		+media('<desk-hd')
			font-size: 140px

		+media('<desk-sb')
			font-size: 80px

		+media('<tab-lg')
			font-size: 120px

	&::after
		+pseudo()
		left: 0
		top: 50%
		width: 50px
		height: 2px
		margin-top: -1px
		margin-left: -25px
		+linear-gradient(to right, #999 0, #999 33%, transparent 33%, transparent 100%)
		background-size: 6px 6px

		+media('<tab-lg')
			top: 0
			left: 50%

	&:first-child::after
		content: none

.agency__inner
	+media('<tab-lg')
		&::before
			content: ""
			+display-inline-block-middle
			height: 60px

.agency__text
	+font-bold
	+font(18px, round-float(22/18, 1))
	color: white
	text-transform: uppercase

	+media('<desk-hd')
		font-size: 15px
		letter-spacing: 0.025em

	+media('<desk-sb')
		font-size: 13px
		letter-spacing: 0.05em

	+media('<tab-lg')
		font-size: 18px
		+display-inline-block-middle
		width: calc(100% - 6px)

/*agency end

/*providers
.providers
	margin-bottom: 30px
	+clear

	+media('<desk-hd')
		margin-bottom: 20px

	&:last-child
		margin-bottom: 0

.providers__item
	float: left
	width: 50%
	padding: 0 3.7%

	+media('<tab-sm')
		float: none
		width: auto
		padding: 20px 0 0

	&:first-child
		padding-left: 0

		+media('<tab-sm')
			padding-top: 0

	&:last-child
		padding-right: 0

.providers__text
	background: black
	padding: 27px 30px
	+font(15px, round-float(19/15, 1))
	color: white

	+media('<desk-hd')
		padding: 20px 25px

	+media('<desk-sb')
		padding: 15px 20px
		+font(12px, 1.7)

	+media('<tab-sm')
		font-size: 16px

	& > p, & > ul, & > ol
		&:last-child
			margin-bottom: 0

.providers__title
	+font-bold
	+font(2.0rem, round-float(24/20, 1))
	color: white
	margin-bottom: 1em

	+media('<tab-sm')
		text-align: center

	&:last-child
		margin-bottom: 0

.providers__list

	&, .#{$user-content} &
		margin: 0

		li
			padding-left: 48px

			&::before
				+pseudo()
				left: 0
				top: 10px
				border: none
				+size(30px, 3px)
				background-color: $base-color

			+media('<desk-sb')
				+margin-vertical(0.5em)

	&
		+font(16px, round-float(24/16, 1))
		text-transform: uppercase
		color: white

		+media('<desk-sb')
			font-size: 14px

		a
			color: $base-color

/*providers end

/*plea
.plea
	width: 560px
	max-width: 100%
	+push-auto
	text-align: center
	+font(24px, round-float(36/24, 1))
	color: white

	+media('<desk-hd')
		+font(18px, round-float(24/18, 1))

	a
		text-decoration: none
		color: $base-color

		span
			border-bottom: 1px solid transparent
			transition: border-color $animation-speed

		.no-touchevents &
			text-decoration: none

			span
				border-bottom-color: $base-color

/*plea end