@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*scroll menu
.scroll-nav
	$scroll-nav-space: 40px

	position: fixed
	top: $scroll-nav-space + $top-panel-height
	right: $sidebar-width + $scroll-nav-space
	z-index: 50

	+media('<tab-lg')
		top: $scroll-nav-space + $top-panel-height--md

	.home-page &
		right: $sidebar-width--lg + $scroll-nav-space

		+media('<desk-md')
			right: $scroll-nav-space

	&, .#{$user-content} &
		margin: 0

		li
			margin: 0 0 10px
			padding: 0

			&:before
				content: none
	&
		a
			display: block
			position: relative
			width: 40px
			height: 40px
			text-indent: -9999px
			overflow: hidden
			background-color: black
			transition-property: background-color
			transition-duration: $animation-speed

			&::before
				+pseudo()
				left: 0
				bottom: 0
				height: 100%
				width: 100%
				background-color: $base-color
				transition-property: transform
				transition-duration: 0.3s
				transform: translate(0, 100%)

			svg
				+centering-transform-abs()
				+size(22px)

			path
				fill: white

			.no-touchevents &:hover
				&::before
					transform: translate(0, calc(100% - 2px))

		li.active a
			&, .no-touchevents &
				//background-color: $base-color
				cursor: default

				&::before
					transform: translate(0, 0)

/*scroll menu end