@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*search form
.search-form
	+padding-vertical(50px)

	+media('<mob-lg')
		+padding-vertical(30px)

	.content &
		+padding-vertical(0)

.search-form, .search-form__field
	position: relative
	margin-bottom: $bottom-space--md

	&:last-child
		margin-bottom: 0

.search-form__field
	&::before, &::after
		content: ""
		display: none
		position: absolute
		z-index: 99

	&::before
		left: -10px
		top: -10px
		width: calc(100% + 20px)
		height: calc(100% + 20px)
		background-color: #fff
		opacity: 0.8

	&::after
		$size: 62px
		// =======
		width: $size
		height: $size
		left: 50%
		top: 50%
		margin: -#{round($size/2)} 0 0 -#{round($size/2)}
		background-image: url(../../img/preloader.svg)
		background-size: contain
		background-repeat: no-repeat
		background-position: center
		z-index: 100

	.js-loading &
		&::before, &::after
			display: block

.search-form .light-form
	.label-holder
		+font-bold
		+font(36px, 52px)

		+media('<mob-lg')
			font-size: 28px

		&::before
			border-top-width: 2px

	label
		height: 76px
		+padding-vertical(12px)

		+media('<mob-lg')
			height: 68px
			+padding-vertical(8px)

input.search-form__input
	&, .light-form &
		padding: 12px #{$search-form-popup-btn-size+12} 12px 0
		+font-bold
		+font(36px, 52px)
		height: 76px

		+media('<mob-lg')
			font-size: 28px
			padding: 8px #{$search-form-popup-btn-size--sm+8} 8px 0
			height: 68px

// кнопка поиска
.search-form__btn
	position: absolute
	right: 0
	top: 50%
	+size($search-form-popup-btn-size)
	margin-top: -#{round($search-form-popup-btn-size*0.5)}
	+font-normal
	+clear-spacing
	text-align: center
	z-index: 5
	transition-property: color, fill, opacity
	transition-duration: $animation-speed
	// цвет текста и svg иконки
	color: $text-color
	fill: $text-color
	pointer-events: none
	opacity: 0.2

	+media('<mob-lg')
		+size($search-form-popup-btn-size--sm)
		margin-top: -#{round($search-form-popup-btn-size--sm*0.5)}

	.input--has-value &
		pointer-events: auto
		opacity: 1

	.no-touchevents &:hover
		color: $base-color
		fill: $base-color

	// ea
	.no-touchevents .ea-site &:hover
		color: $base-color--ea
		fill: $base-color--ea

	input
		+cover-abs()
		padding: 0
		border: 0
		opacity: 0
		z-index: 99

	svg
		display: inline-block
		position: absolute
		+position(50%)
		+size($search-form-popup-btn-size)
		margin: -#{round($search-form-popup-btn-size*0.5)} 0 0 -#{round($search-form-popup-btn-size*0.5)}

		+media('<mob-lg')
			+size($search-form-popup-btn-size--sm)
			margin: -#{round($search-form-popup-btn-size--sm*0.5)} 0 0 -#{round($search-form-popup-btn-size--sm*0.5)}

	path
		fill: currentColor
		transition: inherit

	span
		+hide-text

// product
.search-form
	.products__figure
		width: #{$product-figure-width}
		height: #{$product-figure-height}

		+media('<tab-lg')
			width: 218px
			height: 164px

		&:before
			content: none

	.products__img
		position: relative
		left: auto
		top: auto
		transform: none

		img
			display: block
			max-height: none
			max-width: none
			width: 100%
			height: 100%
			+object-fit(contain)
			position: relative
			left: auto
			top: auto
			transform: none

	.products__body
		width: calc(100% - 200px)

		+media('<tab-lg')
			width: auto

	.products__footer
		width: 199px
		text-align: right
		padding-right: 16px

		+media('<tab-lg')
			width: auto
			padding-right: 0
			text-align: center

	.products__price
		width: auto
		padding-right: 0

		+media('<tab-lg')
			margin-bottom: 0

// product end

/*search form end