@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* TEXT POPUP
.text-popup
	position: fixed
	right: 0
	top: 0
	height: 100%
	width: $text-popup-width
	background-color: $text-popup-bg-color
	opacity: 0
	visibility: hidden
	z-index: 1011
	transition-property: width
	transition-duration: $animation-speed

	+media('<tab-lg')
		width: 100%

	//+media('>=desk-md')
		visibility: inherit !important
		opacity: 1 !important
		transform: matrix(1, 0, 0, 1, 0, 0) !important

.text-popup-layout
	overflow-x: hidden
	overflow-y: auto
	height: 100vh
	//padding: 63px #{$text-layout-space-horizontal--lg} #{round($text-layout-space-horizontal--lg*0.6)}

.text-popup-heading
	position: relative
	+clear

	.btn-text-popup-close
		float: right

	& > *
		overflow: hidden

.text-popup-title
	margin-bottom: $bottom-space
	+font-bold
	color: $text-color

/* forms
.text-popup
	.form-row
		+margin-horizontal(-20px)

		.input-wrap
			+margin-horizontal(20px)
			width: calc(100% * 0.5 - 40px)

			+media('<mob-lg')
				display: block
				width: auto

/* forms end

/* check list
.text-popup
	.check-list
		+clear-spacing

		&, .#{$user-content} &
			+grid-parent(20px)

			li
				+grid-item(3, 20px)
				letter-spacing: normal

				+media('<mob-lg')
					+grid-item-responsive(2, 20px)

				+media('<mob-md')
					+grid-item-responsive(1, 20px)

/* check list end
/* TEXT POPUP end