@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*top panel
.top-panel

	&.top-panel--alt
		background-color: transparent

		&::before
			+pseudo()
			left: 0
			top: 0
			width: 100%
			height: 162px
			z-index: -1
			pointer-events: none
			+linear-gradient(to bottom, rgba(0,0,0,0.94) 0%,rgba(0,0,0,0.84) 14%,rgba(0,0,0,0.7) 28%,rgba(0,0,0,0.35) 59%,rgba(0,0,0,0.18) 75%,rgba(0,0,0,0.06) 89%,rgba(0,0,0,0) 100%)

			.no-cssgradients &
				background: url(../../img/gradient-top-panel.png) repeat-x

	+media('<tab-lg')
		&.top-panel--alt
			&::before
				content: none

.top-panel-holder
	background-color: #{$bg-color}
	+clear

	.top-panel--alt &
		background-color: transparent

	+media('<tab-lg')
		.top-panel--alt &
			background-color: white

.top-panel-contacts
	+clear-spacing

	.top-panel &
		float: left

	+media('<tab-sm')
		display: none

.top-panel-contacts__item
	+display-inline-block-top
	padding: #{$top-panel-space} 60px 0 0
	+font(24px, 31px)
	letter-spacing: normal
	color: black
	border-color: black

	+media('<tab-lg')
		+font(20px, 24px)
		padding: #{$top-panel-space--md} 20px

	.top-panel--alt &
		color: white
		border-color: white

		+media('<tab-lg')
			color: black
			border-color: black

	a
		text-decoration: none
		color: inherit
		border-color: inherit

		span
			border-bottom: 1px solid transparent
			transition: border-color $animation-speed

		.no-touchevents &:hover
			text-decoration: none

			span
				border-color: inherit

			&[href^="tel"]
				span
					border-color: transparent

/*contact phones
.contact-phones
	position: relative

.contact-phones__handler
	position: relative
	display: block
	padding-right: 20px
	z-index: 100
	cursor: pointer

	span, .top-panel-contacts__item & span
		border-bottom-style: dashed

	.no-touchevents &:hover
		text-decoration: none !important

	&::before
		+pseudo()
		left: -#{$top-panel-space}
		right: -#{$top-panel-space}
		bottom: 0
		height: calc(100% + #{$top-panel-space})
		opacity: 0
		visibility: hidden
		transition-property: opacity, visibility
		transition-duration: $animation-speed
		background-color: $bg-color-light
		z-index: -1

		.top-panel--alt &
			background-color: $logo-bg-color

		.choice-opened &
			opacity: 1
			visibility: visible

		+media('<tab-lg')
			height: calc(100% + #{$top-panel-space--md})
			left: -20px
			right: -20px

			.top-panel--alt &
				background-color: $bg-color-light

	&::after
		+pseudo()
		right: 0
		top: 50%
		+size(7px)
		margin-top: -3px
		border: solid black
		border-width: 0 1px 1px 0
		transform: rotate(45deg)
		transform-origin: right top

		.top-panel--alt &
			border-color: white

			+media('<tab-lg')
				border-color: black

		.choice-opened &
			border-width: 1px 0 0 1px
			margin-top: 0

.contact-phones__drop
	position: absolute
	left: -#{$top-panel-space}
	top: 100%
	width: calc(100% + #{$top-panel-space*2})
	padding: 5px #{$top-panel-space} #{$top-panel-space}
	overflow-x: hidden
	overflow-y: auto
	background-color: $bg-color-light
	opacity: 0
	visibility: hidden
	transition-property: opacity, visibility
	transition-duration: $animation-speed
	z-index: 50

	.top-panel--alt &
		background-color: $logo-bg-color

	+media('<tab-lg')
		left: -20px
		width: calc(100% + 20px*2)
		padding: 5px 20px #{$top-panel-space--md}

		.top-panel--alt &
			background-color: $bg-color-light

	.choice-opened &
		opacity: 1
		visibility: visible

	li
		padding: 5px 0

/*contact phones end

/* logo alt
.logo-alt
	display: inline-block
	z-index: 50

	.top-panel &
		float: left
		height: 100%
		margin-right: 50px

		+media('<tab-lg')
			margin-right: 0

	a
		display: block
		position: relative
		height: 100%
		text-decoration: none
		white-space: nowrap
		+clear-spacing

		&::after
			+vertical-align()

		+media('<tab-lg')
			+padding-horizontal(30px)

		+media('<tab-sm')
			+padding-horizontal(0)
			min-width: 50px
			text-align: center

.logo-alt-title, .logo-alt-map
	position: relative
	+display-inline-block-middle
	+font($font-size, $line-height)
	letter-spacing: normal
	white-space: normal

.logo-alt-title

	+media('<desk-lg')
		display: none

	+media('<tab-lg')
		display: inline-block
		white-space: nowrap

.logo-alt-title__fig, .logo-alt-map__fig
	text-indent: -9999px
	overflow: hidden
	position: relative
	background-size: 100%
	background-position: 0 0
	background-repeat: no-repeat

	.top-panel--alt &
		background-position: 0 100%

	&::before
		+pseudo($pos: relative)

	span
		+hide-text

.logo-alt-title__fig
	+size(152px, auto)
	background-image: url(../../img/logo.png)

	&::before
		+ratio(152, 47)

	+media('<tab-lg')
		width: 111px

		.top-panel--alt &
			background-position: 0 0

	+media('<tab-sm')
		+size(26px, auto)
		background-image: url(../../img/logo-short-alt.png)

		//.top-panel--alt &
			background-image: url(../../img/logo-short.png)

		&::before
			+ratio(26, 22)

	.ea-site &
		+size(178px, auto)
		background-image: url(../../img/logo--ea.png)

		&::before
			+ratio(178, 42)

		+media('<tab-lg')
			width: 144px

		+media('<tab-sm')
			+size(39px, auto)
			background-image: url(../../img/logo-short--ea.png)

			&::before
				+ratio(39, 40)

.logo-alt-map__fig
	+size(192px, auto)
	background-image: url(../../img/logo-map.png)

	&::before
		+ratio(192, 50)

	.ea-site &
		background-image: url(../../img/logo-map--ea.png)

.logo-alt-title + .logo-alt-map
	padding-left: 20px
	margin-left: 20px

	+media('<desk-lg')
		padding-left: 0
		margin-left: 0

	+media('<tab-lg')
		display: none

	&::before
		+pseudo()
		top: 50%
		left: 0
		height: 44px
		border: dotted $border-color
		border-width: 0 0 0 1px
		transform: translate(0, -50%)

		+media('<desk-lg')
			content: none

/* logo alt end
/* top panel end