@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*top panel
.top-panel
	position: relative
	padding: 0 $page-layout-space-horizontal
	margin: 0 $sidebar-width 0 $header-width
	height: $top-panel-height
	background-color: $bg-color
	z-index: 40

	.top-panel--alt &
		position: fixed
		left: $header-width
		margin: 0
		width: calc(100% - #{$sidebar-width + $header-width})
		max-width: calc(#{$page-layout-width - $sidebar-width - $header-width})
		background-color: transparent

		&::before
			+pseudo()
			left: 0
			top: 0
			width: 100%
			height: 165px
			z-index: -1
			pointer-events: none
			+linear-gradient(to bottom, rgba(0,0,0,0.94) 0%,rgba(0,0,0,0.84) 14%,rgba(0,0,0,0.7) 28%,rgba(0,0,0,0.35) 59%,rgba(0,0,0,0.18) 75%,rgba(0,0,0,0.06) 89%,rgba(0,0,0,0) 100%)

	.home-page &
		width: calc(100% - #{$sidebar-width--lg + $header-width})
		max-width: calc(#{$page-layout-width - $sidebar-width--lg - $header-width})

	.ea-catalog-page &
		width: calc(100% - #{$catalog-menu-width + $header-width})
		max-width: calc(#{$page-layout-width - $catalog-menu-width - $header-width})

.top-panel-contacts
	float: right
	+clear-spacing

.top-panel-contacts__item
	+display-inline-block-top
	padding: $top-panel-space 60px $top-panel-space 0
	+font(24px, 1.3)
	letter-spacing: normal
	color: black
	border-color: black

	.top-panel--alt &
		color: white
		border-color: white

	a
		text-decoration: none
		color: inherit
		border-color: inherit

		span
			border-bottom: 1px solid transparent
			transition: border-color $animation-speed

		.no-touchevents &:hover
			text-decoration: none

			span
				border-color: inherit

			&[href^="tel"]
				span
					border-color: transparent

/*contact phones
.contact-phones
	position: relative

.contact-phones__handler
	position: relative
	display: block
	padding-right: 20px
	z-index: 100
	cursor: pointer

	span, .top-panel-contacts__item & span
		border-bottom-style: dashed

	.no-touchevents &:hover
		text-decoration: none !important

	&::before
		+pseudo()
		left: -#{$top-panel-space}
		right: -#{$top-panel-space}
		bottom: 0
		height: calc(100% + #{$top-panel-space})
		background-color: $logo-bg-color
		opacity: 0
		visibility: hidden
		transition-property: opacity, visibility
		transition-duration: $animation-speed
		z-index: -1

		.choice-opened &
			opacity: 1
			visibility: visible

	&::after
		+pseudo()
		right: 0
		top: 50%
		+size(7px)
		margin-top: -3px
		border: solid black
		border-width: 0 1px 1px 0
		transform: rotate(45deg)
		transform-origin: right top

		.top-panel--alt &
			border-color: white

		.choice-opened &
			border-width: 1px 0 0 1px
			margin-top: 0

.contact-phones__drop
	position: absolute
	left: -#{$top-panel-space}
	top: 100%
	width: calc(100% + #{$top-panel-space*2})
	padding: 5px $top-panel-space $top-panel-space
	overflow-x: hidden
	overflow-y: auto
	background-color: $logo-bg-color
	opacity: 0
	visibility: hidden
	transition-property: opacity, visibility
	transition-duration: $animation-speed
	z-index: 50

	.choice-opened &
		opacity: 1
		visibility: visible

	li
		padding: 5px 0

/*contact phones end

/*logo alt
.logo-alt
	display: inline-block
	z-index: 50

	.top-panel &
		float: left
		height: 100%

	a
		display: block
		position: relative
		height: 100%
		text-decoration: none
		white-space: nowrap
		+clear-spacing

		&::after
			+vertical-align()

	.logo-alt-title, .logo-alt-map
		position: relative
		+display-inline-block-middle
		+font($font-size, $line-height)
		letter-spacing: normal
		white-space: normal

	.logo-alt-title__fig, .logo-alt-map__fig
		text-indent: -9999px
		overflow: hidden
		position: relative
		background-size: 100%
		background-position: 0 0
		background-repeat: no-repeat

		.home-page &
			background-position: 0 100%

		&::before
			+pseudo($pos: relative)

		span
			+hide-text

	.logo-alt-title__fig
		+size(101px, auto)
		background-image: url(../../img/logo-title.png)

		&::before
			+ratio(101, 53)

		.ea-site &
			+size(125px, auto)
			background-image: url(../../img/logo-title--ea.png)

			&::before
				+ratio(125, 37)

	.logo-alt-map__fig
		+size(192px, auto)
		background-image: url(../../img/logo-map.png)

		&::before
			+ratio(192, 50)

		.ea-site &
			background-image: url(../../img/logo-map--ea.png)

	.logo-alt-title + .logo-alt-map
		padding-left: 20px
		margin-left: 20px

		&::before
			+pseudo()
			top: 50%
			left: 0
			height: 44px
			border: dotted $border-color
			border-width: 0 0 0 1px
			transform: translate(0, -50%)

/*logo alt end

/*top panel end