@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*LIGHT FORM

.light-form

	input[type="text"], input[type="password"], input[type="email"], input[type="search"], textarea
		// position: relative // важно! поднять выше лейбла
		box-shadow: none
		border: none
		transition: none
		cursor: pointer
		// background: none // важно! поднять выше лейбла
		// z-index: 998 // важно! поднять выше лейбла

	input[type="text"], input[type="password"], input[type="email"], input[type="search"], label
		+size(100%, 50px)
		padding: #{$form-input-space-v} 0
		cursor: pointer

	textarea
		padding: #{$form-input-space-v} 0
		min-height: 130px
		height: 130px
		resize: none

	//form error
	input[type="text"], input[type="password"], input[type="email"], input[type="search"], textarea
		&.error, .no-touchevents &.error
			color: $form-error-color
			box-shadow: none

			&:focus
				box-shadow: none

	.label-holder
		+size(100%)
		+font-bold
		position: absolute
		left: 0
		bottom: 0
		padding: 0
		margin-bottom: 0
		+antialiased
		pointer-events: none // важно! поднять выше лейбла
		z-index: 5

		&:before, &:after
			+pseudo()
			bottom: 0
			height: 0
			border-top: 1px solid

		&:before
			border-top-color: $form-border-color
			left: 0
			width: 100%

		&:after
			border-top-width: 2px
			border-top-color: $base-color
			right: 0
			width: 0

			.ea-site &
				border-top-color: $base-color--ea

		label
			display: block
			+truncate(100%)
			transform-origin: 0 0

		&:before, &:after, & label
			transition-property: color, transform, width, font
			transition-duration: 0.3s
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)

	&.input--focus, &.input--has-value
		input[type="text"], input[type="password"], input[type="email"], input[type="search"], textarea
			cursor: text
			box-shadow: none

		.label-holder
			color: $text-color-light

			label
				+font-normal
				transform: translate(0, -0.6em) scale(0.68)
				cursor: default

			&:before
				width: 0

			&:after
				width: 100%

	// if has remove button
	.remove-field
		& ~ .label-holder, & ~ input[type="text"], input[type="password"], input[type="email"], input[type="search"], textarea
			padding-right: 30px

	// error
	&.error
		.label-holder
			&:before, &:after
				border-color: $form-error-color

	.select
		select
			&, &.error
				&,
				& ~ .select2-container--default .select2-selection
					border-color: transparent
					padding-left: 0

		&::before,
		&::after,
		.select2-container--default .select2-selection--single .select2-selection__arrow b::before,
		.select2-container--default .select2-selection--single .select2-selection__arrow b::after
			right: 5px

		&::after,
		.select2-container--default .select2-selection--single .select2-selection__arrow b::after
			transform: rotate(-45deg)
			right: 0

		.select2-container--default .select2-selection--single .select2-selection__placeholder
			color: transparent


/*LIGHT FORM end