@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*HEADER*/

.header
	background-color: white
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1)

.header__align
	width: calc(100% + 100px)
	overflow-x: hidden
	overflow-y: auto
	height: 100vh

.header__holder
	//display: table
	//min-height: 100vh // не работает в фф
	display: flex
	flex-direction: column
	justify-content: space-between
	min-height: 100vh // ie поддерживает min-height для table
	width: #{$header-width}

	// для браузеров не поддерживающих display: flex
	.no-flexbox &
		display: table
		table-layout: fixed

	// в ие 11 не поддерживается flex-direction: column вместе с min-height
	// для этого браузера исспользуем хак
	@media all and (-ms-high-contrast: none)
		&::-ms-backdrop, &
			display: table
			table-layout: fixed

.header__row

	// для браузеров не поддерживающих display: flex
	.no-flexbox &
		display: table-row

	// в ие 11 не поддерживается flex-direction: column вместе с min-height
	// для этого браузера исспользуем хак
	@media all and (-ms-high-contrast: none)
		&::-ms-backdrop, &
			display: table-row

.header__row--logo
	overflow: hidden
	height: 0 // для выравнивания по вертикали для flex: box нужно 3 элемента, по-этому не display: none

	//.home-page &
		height: 1%

	+media('<desk-lg')
		height: 1%

.header__row--arrow
	overflow: hidden
	height: 0 // для выравнивания по вертикали для flex: box нужно 3 элемента, по-этому не display: none

	.home-page &
		height: 1%

		// для браузеров не поддерживающих display: flex
		.no-flexbox &
			display: table-row
			height: 1%

		// в ие 11 не поддерживается flex-direction: column вместе с min-height
		// для этого браузера исспользуем хак
		@media all and (-ms-high-contrast: none)
			&::-ms-backdrop, &
				display: table-row
				height: 1%

.header__cell
	text-align: center

	// для браузеров не поддерживающих display: flex
	.no-flexbox &
		display: table-cell
		vertical-align: middle

	// в ие 11 не поддерживается flex-direction: column вместе с min-height
	// для этого браузера исспользуем хак
	@media all and (-ms-high-contrast: none)
		&::-ms-backdrop, &
			display: table-cell
			vertical-align: middle

	.header__row--logo &
		vertical-align: top

	.header__row--arrow &
		vertical-align: bottom

		svg
			display: block
			width: 30px
			height: 30px
			+push-auto
			margin-bottom: 20px

/*logo*/
.logo
	display: block
	width: $header-width
	z-index: 50

	a
		display: block
		position: relative
		height: 0
		+ratio(1, 1)
		background-color: $logo-bg-color
		transition-property: background-color, opacity, transform, visibility
		transition-duration: $animation-speed
		z-index: 5
		
		.ea-site &
			background-color: transparent

		.shutter--before-open &
			transform: translate(50%, 0)
			opacity: 0
			visibility: hidden

		//&::before
			+pseudo()
			left: 0
			top: 0
			+size($header-width+$nav-width, 100%)
			//background-color: $logo-bg-color
			opacity: 0
			visibility: hidden
			transition-property: transform, opacity, visibility, background-color
			transition-duration: $animation-speed
			z-index: -1

.no-touchevents
	.logo a:hover
		background-color: lighten($logo-bg-color, 10%)

	.ea-site .logo a:hover
		background-color: #{$bg-color-light}

.logo-img
	display: block
	position: absolute
	+position(0, 0)
	text-indent: -9999px
	overflow: hidden
	+size($header-width)
	background: url(../../img/logo-short.png) no-repeat center center
	background-size: auto 47px
	transform:  scale(0.75)
	transition-property: transform, background-color
	transition-duration: $animation-speed
	backface-visibility: hidden

	.ea-site &
		background-image: url(../../img/logo-short--ea.png)

//.logo-title
	position: absolute
	//left: #{$page-layout-space-horizontal+$header-width}
	left: #{$header-width}
	top: 0
	bottom: 0
	text-indent: -9999px
	overflow: hidden
	+size(120px, auto)
	opacity: 0
	visibility: hidden
	//transform: translate(-50%, 0)
	transition-property: transform, opacity, visibility
	transition-duration: $animation-speed

	.ea-site &
		width: $nav-width

	&::before
		+pseudo()
		+size(89px, 45px)
		left: 50%
		top: 50%
		margin-top: -22px
		margin-left: -45px
		background: url(../../img/logo-title-white.png) no-repeat
		background-size: contain

		.ea-site &
			background: url(../../img/logo-title--ea.png) no-repeat
			+size(125px, 37px)
			left: 20px
			margin-top: -18px
			margin-left: 0

//.logo-text
	position: absolute
	width: 230px
	top: 50%
	left: 220px
	+font(11px, 1.4)
	letter-spacing: 0.15em
	color: white
	text-transform: uppercase
	text-align: left
	opacity: 0
	visibility: hidden
	transform: translate(-50%, -50%)
	transition-property: transform, opacity, visibility
	transition-duration: $animation-speed

	.ea-site &
		display: none

.shutter--before-open

	.logo

		&::before
			opacity: 1
			visibility: visible

		//.logo-img
			transform: translate(20px, 0) scale(1)

		//.logo-title
			opacity: 1
			visibility: visible
			transform: translate(0, 0)

		//.logo-text
			opacity: 1
			visibility: visible
			transform: translate(0, -50%)

/*logo end*/

.down-arrows
	display: block
	position: relative
	cursor: pointer
	text-decoration: none
	+size($header-width)
	transition-property: background-color, opacity, visibility, transform
	transition-duration: $animation-speed

	.ea-site &
		display: none

	.no-touchevents &:hover
		background-color: $bg-color-light

	.fp-is-bottom &, .shutter--before-open &
		opacity: 0
		visibility: hidden
		transform: translate(0, 100%)

.down-arrow__align
	+centering-transform-abs()

	span
		display: block
		position: relative
		+size(22px, 12px)
		margin-bottom: 1px
		opacity: 0
		animation: fadeInArrows 1.5s infinite

		&:last-child
			margin-bottom: 0

		&::before, &::after
			+pseudo()
			bottom: 0
			height: 1px
			width: 16px
			background: $text-color

		&::before
			left: 50%
			transform: rotate(-45deg)
			transform-origin: left bottom

		&::after
			right: 50%
			transform: rotate(45deg)
			transform-origin: right bottom

		&:nth-child(1)
			animation-delay: 0.25s

		&:nth-child(2)
			animation-delay: 0.5s

		&:nth-child(3)
			animation-delay: 0.75s

@keyframes fadeInArrows
	0%
		opacity: 0

	50%
		opacity: 1

	100%
		opacity: 0

/*HEADER end*/