@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*LAYOUT*/
.wrapper
	margin: 0 auto
	//min-height: 100%
	//height: auto !important
	//height: 100%
	min-height: 100vh
	overflow: hidden
	position: relative

.main
	padding: 0
	position: relative
	clear: both
	z-index: 4

.main__holder
	width: 100%
	+clear

.content-wrap
	float: left
	width: 100%

.content
	margin: 0 #{$catalog-categories-width--full} 0 #{$header-width}
	min-height: 50px

	+media('<desk-qhd')
		margin-right: #{$sidebar-width}

	.home-page &
		margin-right: $sidebar-width--lg

	.ea-has-catalog-menu &
		margin-right: $catalog-menu-width + $catalog-categories-width--full

		+media('<desk-qhd')
			margin-right: $catalog-menu-width + $catalog-categories-width--short

		+media('<desk-lg')
			margin-right: $catalog-menu-width

	&, .ea-has-catalog-menu &
		+media('<desk-md')
			margin-right: 0

		+media('<tab-lg')
			&, .ea-has-catalog-menu &
				margin-left: 0

//+media('<desk-lg')
	margin-right: 0

	//+media('<tab-lg')
		margin-left: 0

.header
	position: fixed
	+position(0, 0)
	overflow: hidden
	+size($header-width, 100%)
	z-index: 1000

	background-color: white
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1)

	+media('<tab-lg')
		display: none

.footer
	margin: 0 auto
	position: relative
	clear: both
	z-index: 5

	background-color: lightgreen

	.home-page &
		display: none

.home-page .spacer
	display: none

.max-wrap
	max-width: $page-layout-width

.layout
	+padding-horizontal($page-layout-space-horizontal)
	+push-auto

	.main &, .header &
		padding: 0

	+media('<tab-lg')
		.main &
			+padding-horizontal(0)

.max-wrap-text
	max-width: $text-layout-width

// выравнивание текстовых элементов на внутренней странице
// и их максимальная ширина
.layout-text
	max-width: $text-layout-width + $text-layout-space-horizontal*2
	+padding-horizontal($text-layout-space-horizontal)
	+push-auto

	+media('<tab-lg')
		+padding-horizontal($text-layout-space-horizontal--md)

	+media('<tab-sm')
		+padding-horizontal($text-layout-space-horizontal--sm)

// выравнивание альтернативных элементов на внутренней странице
// и их максимальная ширина
.max-wrap-flood
	max-width: $flood-layout-width

.layout-flood
	max-width: $flood-layout-width + $text-layout-space-horizontal*2
	+padding-horizontal($flood-layout-space-horizontal)
	+push-auto

	+media('<tab-lg')
		+padding-horizontal($text-layout-space-horizontal--md)

	+media('<tab-sm')
		+padding-horizontal($text-layout-space-horizontal--sm)

// выравнивание элеметов не имеющих ограничения по ширине
// и их максимальная ширина (если необходима)
.max-wrap-wide
	max-width: $wide-layout-width

.layout-wide
	@if $wide-layout-width
		max-width: $wide-layout-width + $text-layout-space-horizontal*2
	+padding-horizontal($flood-layout-space-horizontal)
	+push-auto

	+media('<desk-hd')
		+padding-horizontal($text-layout-space-horizontal--lg)

	+media('<tab-lg')
		+padding-horizontal($text-layout-space-horizontal--md)

	+media('<tab-sm')
		+padding-horizontal($text-layout-space-horizontal--sm)

// выравнивание текстовых элементов на странице статьи (контент обернут в .layout-article)
// и их максимальная ширина
.layout-article
	padding: round($text-layout-space-horizontal*1.5) #{$text-layout-space-horizontal}

	+media('<desk-hd')
		padding: round($text-layout-space-horizontal--lg*1.5) #{$text-layout-space-horizontal--lg}

	+media('<tab-lg')
		padding: round($text-layout-space-horizontal--md*1.5) #{$text-layout-space-horizontal--md}

	+media('<tab-sm')
		padding: round($text-layout-space-horizontal--sm*1.5) #{$text-layout-space-horizontal--sm}

	p, ul, ol, h2, h3, h4, h5, h6, hr, .layout-text
		max-width: $text-layout-width
		+padding-horizontal(0)
		+push-auto

	.layout-flood
		max-width: $flood-layout-width
		+padding-horizontal(0)
		+push-auto

		p, ul, ol, h1, h2, h3, h4, h5, h6, hr
			max-width: none

	// элеметы не имеющие ограничения по ширине
	.layout-wide
		max-width: $wide-layout-width
		+padding-horizontal(0)
		+push-auto

	// элеметы без отступов по бокам
	.layout-full-width

		+margin-horizontal(-#{$text-layout-space-horizontal})

		+media('<tab-lg')
			+margin-horizontal(-#{$text-layout-space-horizontal--md})

		+media('<tab-sm')
			+margin-horizontal(-#{$text-layout-space-horizontal--sm})

		p, ul, ol, h1, h2, h3, h4, h5, h6, hr
			max-width: none

/*LAYOUT end*/

/* browserupgrade
.old-ie
	overflow: hidden

	body
		overflow: hidden

.browserupgrade
	position: fixed
	height: 100%
	width: 100%
	padding: 0.2em 0
	margin: 0
	+font(28px, 42px)
	color: #000
	background: #ccc
	z-index: 99999
	zoom: 1

.browserupgrade p
	position: absolute
	width: 100%
	top: 50%
	margin: -22px 0 0
	padding: 0
	text-align: center
	vertical-align: middle

/* browserupgrade end