@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*navigation*/
html.css-scroll-fixed

	&.touchevents
		+scroll-blocked() // блокировка скролла во время открытия попапа (на тачскринах)

.nav-wrap
	position: fixed
	left: $header-width
	top: 0
	width: 100%
	height: 100%
	max-width: $nav-width
	padding: $header-width 0 120px
	background: $bg-color-light
	opacity: 0
	visibility: hidden
	z-index: 998
	
	&::before
		+pseudo()
		top: 0
		left: 0
		+size(100%, $header-width)
		background-color: $logo-bg-color

.nav
	position: relative
	padding: $page-layout-space-horizontal
	top: 50%
	transform: translate(0, -50%)
	+antialiased

.nav__list
	+font(2.4rem, 1.333)
	font-weight: 400
	color: $text-color

	li
		position: relative
		margin: 1em 0

		&.current a
			color: $base-color

	a
		display: block
		color: inherit
		text-decoration: none
		transition-property: color
		transition-duration: $animation-speed

		.no-touchevents &:hover
			color: $base-color

/*navigation end*/

.nav-footer
	position: absolute
	left: 0
	bottom: 0
	width: 100%
	padding: $page-layout-space-horizontal
	+font(1.2rem, 1.6)
	color: $text-color

	.copyright
		margin-bottom: 1em
		padding-bottom: 1em
		text-transform: uppercase
		+font-bold
		border-bottom: 1px solid $border-color

		&:last-child
			margin-bottom: 0
			padding-bottom: 0
			border: none

	.map-site
		color: $text-color-light

		a
			color: inherit
			text-decoration: none
			transition-property: color
			transition-duration: $animation-speed

			.no-touchevents &:hover
				color: $base-color