@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*SIDE MENU*/
.side-menu
	position: fixed
	right: 0
	top: 0
	height: 100%
	//width: $sidebar-width
	width: $sidebar-drop-width
	background-color: $base-color
	z-index: 999
	user-select: none

	+media('>=tab-lg')
		visibility: inherit !important
		opacity: 1 !important
		transform: matrix(1, 0, 0, 1, 0, 0) translate(#{$sidebar-drop-width - $sidebar-width}, 0) !important
		//transform: translate(#{$sidebar-drop-width - $sidebar-width}, 0) !important
		transition-property: transform !important
		transition-duration: $animation-speed !important
		transition-delay: 0.2s !important

		&:hover, &:focus
			transform: translate(0, 0) !important
			transition-delay: 0s !important

	+media('<tab-lg')
		width: 100%
		opacity: 0
		visibility: hidden
		transform: translate(0, 0)

	.side-menu--alt &
		width: $sidebar-width--lg
		overflow-x: hidden
		overflow-y: auto
		transform: none !important

	.v-middle__row
		&:first-child, &:last-child
			height: 0
			overflow: hidden

			.v-middle__cell
				+font(0, 0)

.side-menu__align
	width: #{$sidebar-drop-width + 100px}

	+media('<tab-lg')
		width: auto

.side-menu__holder
	position: relative
	width: 100%
	//top: 50%
	//transform: translate(0, -50%)

	.side-menu--alt &
		display: table
		table-layout: fixed
		min-height: 100vh
		//top: auto
		//transform: none

	+media('<tab-lg')
		justify-content: flex-start

.side-menu__row
	display: block
	margin-top: -1px
	border: solid $side-menu-bg-color-hover
	border-width: 1px 0
	position: relative
	width: $sidebar-drop-width

	+media('<tab-lg')
		width: auto

	.side-menu--alt &
		display: table-row
		margin: 0
		border: none
		width: auto

		&::before
			content: none

	&.current
		border-color: black
		z-index: 5

		+media('<tab-lg')
			border-color: $side-menu-bg-color-hover

.side-menu__cell
	position: relative
	display: block
	+size(auto, 100%)
	color: $text-color
	+clear-spacing
	text-decoration: none
	transition-property: background-color, transform
	transition-duration: $animation-speed

	a
		display: block
		height: 100%
		text-decoration: none
		color: inherit
		background-color: $base-color

		.no-touchevents &:hover
			background-color: $side-menu-bg-color-hover

	.side-menu--alt &
		&, .no-touchevents &
			display: table-cell
			vertical-align: middle
			position: relative
			white-space: normal
			+position(auto, auto)
			+size(auto)
			text-align: center
			padding: 5% 13%
			border: solid $side-menu-bg-color-hover
			border-width: 1px 0 0

	.current &
		&, .no-touchevents &
			a
				background-color: black
				color: white

				+media('<tab-lg')
					background-color: $base-color
					color: black

.side-menu__hover // стиль ховеров для главной страницы

	.no-touchevents .side-menu--alt &:hover
		background-color: $side-menu-bg-color-hover

	.side-menu--alt &::before
		+pseudo()
		bottom: 30px
		left: 50%
		+size(42px, 10px)
		background: url(../../img/arrow-right.svg) no-repeat center
		background-size: cover
		opacity: 0
		visibility: hidden
		transform: translate(-200%, 0)
		transition-property: transform, opacity, visibility, height
		transition-duration: $animation-speed
		z-index: 5

	.no-touchevents .side-menu--alt &:hover::before
		opacity: 1
		visibility: visible
		transform: translate(-50%, 0)

.side-menu__figure
	+display-inline-block-middle
	+size(#{$sidebar-width}, 100%)
	position: relative
	z-index: 5

	.side-menu--alt &
		display: block
		+push-auto
		width: auto
		max-width: 100px
		margin-bottom: 20px

	&::before
		+pseudo-inline-block-relative()
		+ratio(1, 1)

	svg
		+centering-transform-abs()
		+size(50px)
		transition-property: opacity, transform
		transition-duration: $animation-speed

		// если в коде будет 2 svg, для главной и внутренних
		//&:first-child
			display: none

		.side-menu--alt &
			+size(100px)

			// если в коде будет 2 svg, для главной и внутренних
			//&:first-child
				display: block

			// если в коде будет 2 svg, для главной и внутренних
			//&:first-child + svg
				display: none

		.no-touchevents .side-menu--alt .side-menu__cell:hover &
			//transform: translate(-50%, -70%) scale(0.95)
			opacity: 0.3

	path
		fill: black

		.current &
			fill: white

			+media('<tab-lg')
				fill: black

	//img
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		max-width: 120px
		max-height: 120px
		transition-property: opacity
		transition-duration: $animation-speed

		.no-touchevents .side-menu__cell:hover &
			opacity: 0.3

.side-menu__title
	+display-inline-block-middle
	position: relative
	overflow: hidden
	max-height: 57px
	width: #{$sidebar-drop-width - $sidebar-width - 20}
	margin: 10px 0
	+font-bold
	+font(16px, 19px)
	letter-spacing: normal
	text-transform: uppercase
	text-align: left
	opacity: 0
	transform: translate(20px, 0)
	transition-property: color, transform, opacity
	transition-duration: round-float($animation-speed*1.5, 1)
	transition-delay: #{round-float($animation-speed*0.5, 1)}
	z-index: 5

	.side-menu--alt &
		max-height: 100%
		width: auto
		display: block
		padding: 0
		text-align: center
		transform: none
		opacity: 1

	.no-touchevents .side-menu:hover &
		opacity: 1
		transform: translate(0, 0)

	.no-touchevents .side-menu--alt:hover &
		transition-delay: 0s
		transform: none

	.no-touchevents .side-menu--alt .side-menu__cell:hover &
		color: white

	+media('<tab-lg')
		opacity: 1
		transform: none
		width: calc(100% - #{$catalog-menu-arrow-size} - #{$sidebar-width} - 20px)

/* side menu drop
.side-menu-drop
	$item-height: 36px
	$circle-size: 11px

	display: none
	position: relative
	padding: 0 0 $item-height
	background-color: black
	color: white

	.side-menu__row.current &
		display: block

	&::before, &::after
		+pseudo()
		left: #{round($sidebar-width*0.5)}
		pointer-events: none

	&::before
		+triangle(bottom, white, 6px, 1.6)
		bottom: #{$item-height - 6px}
		margin-left: -6px

	&::after
		+triangle(bottom, black, 5px, 1.5)
		bottom: #{$item-height - 5px}
		margin-left: -5px

	+media('<tab-lg')
		padding-bottom: 0
		background-color: #333

		&::before, &::after
			content: none

	ul
		position: relative
		list-style: none
		margin: 0
		padding: 0 0 #{round($item-height*0.5)}
		+font(14px, #{$item-height})
		//counter-reset: item

		&::before
			+pseudo()
			left: #{round($sidebar-width*0.5)}
			top: 0
			+size(0, 100%)
			border-left: 1px solid #666
			pointer-events: none

		+media('<tab-lg')
			padding: 10px 0
			+font-bold
			+font(16px, 19px)

			&::before
				content: none

	li
		//counter-increment: item
		position: relative
		height: #{$item-height}
		padding: 0

		&::before, &::after
			display: block
			position: absolute
			top: #{round($item-height*0.5)}
			left: #{round($sidebar-width*0.5)}
			pointer-events: none

		&::before
			content: ""
			margin-left: -#{floor($circle-size*0.5)}
			margin-top: -#{round($circle-size*0.5)}
			+size($circle-size)
			border-radius: round($circle-size*0.5)
			border: 1px solid white
			background-color: black
			transition-property: border-color
			transition-duration: $animation-speed

		.no-touchevents &:hover
			&::before
				border-color: $base-color

		&::after
			content: attr(data-count)
			margin: -8px 0 0 11px
			+font(12px, 16px)
			opacity: 1
			visibility: visible
			transform: translate(0, 0)
			transition-property: opacity, visibility, transform
			transition-duration: round-float($animation-speed*1.5, 1)
			transition-delay: round-float($animation-speed*0.5, 1)

			.side-menu:hover &
				opacity: 0
				visibility: hidden
				transform: translate(10px, 0)

		+media('<tab-lg')
			height: auto

			&::before, &::after
				content: none

	a
		display: block
		color: white
		text-decoration: none
		transition-property: color
		transition-duration: $animation-speed
		padding: 0 20px 0 #{$sidebar-width - 20px}

		.no-touchevents &:hover
			color: $base-color

		$circle-active-size: $circle-size - 6

		&::before, &::after
			+pseudo()
			top: #{round($item-height*0.5)}
			left: #{round($sidebar-width*0.5)}
			pointer-events: none
			opacity: 0
			visibility: hidden
			transition-property: opacity, visibility, transform
			transition-duration: $animation-speed

		&::before
			content: ""
			margin-left: -#{floor($circle-active-size*0.5)}
			margin-top: -#{round($circle-active-size*0.5)}
			+size($circle-active-size)
			border-radius: round($circle-active-size*0.5)
			background-color: $base-color

		&::after
			background: url(../../img/depict-active.png) no-repeat
			width: 20px
			height: 14px
			background-size: contain
			margin: -8px 0 0 -22px
			transform: translate(4px, 0)

		&.catalog-item-active
			&::before, &::after
				transform: translate(0, 0)
				opacity: 1
				visibility: visible
				transition-delay: 0.2s

		& > span
			display: block
			+truncate(100%)
			opacity: 0
			visibility: hidden
			transform: translate(20px, 0)
			transition-property: opacity, visibility, transform
			transition-duration: round-float($animation-speed*1.5, 1)
			transition-delay: round-float($animation-speed*0.5, 1)

			.side-menu:hover &
				opacity: 1
				visibility: visible
				transform: translate(0, 0)

		+media('<tab-lg')
			&
				padding: 0 20px

				&::before
					content: ""
					position: relative
					left: auto
					top: auto
					margin: 0
					+display-inline-block-middle
					width: 0
					height: 50px

				& > span
					+display-inline-block-middle
					opacity: 1
					visibility: visible
					transform: none
					width: calc(100% - 5px)

/* side menu drop end

/* download
.download
	text-align: left

.download__icon
	position: relative
	overflow: hidden
	float: left
	+size(60px)
	border: 1px solid $text-color
	margin-right: 20px
	margin-top: 0.3em
	+font-bold
	+font(16px, 58px)
	text-align: center
	transition-property: border-color
	transition-duration: $animation-speed

	.no-touchevents .download:hover &
		border-color: $side-menu-bg-color-hover

	&::before
		+pseudo(attr(data-label))
		+position(0, 0)
		+size(100%)
		color: white
		background-color: $side-menu-bg-color-hover
		transition-property: transform
		transition-duration: $animation-speed
		transform: translate(-100%, 0)

		.no-touchevents .download:hover &
			transform: translate(0, 0)

	span
		display: block
		height: 100%
		transition-property: transform
		transition-duration: $animation-speed

		.no-touchevents .download:hover &
			transform: translate(100%, 0)

.download__title
	display: block
	overflow: hidden
	+font-bold
	+font(1.8rem, 1.167)

	span
		display: block
		+font-normal
		+font(1.4rem, 1.5)
		color: $text-color-light
		margin-top: 0.5em

/* download end
/*SIDE MENU end*/